0021_node-red_flows.json
[
  {
    "id": "71aaba71cce9c427",
    "type": "tab",
    "label": "플로우 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "c9a8c642e355136d",
    "type": "modbus-client",
    "name": "",
    "clienttype": "simpleser",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "127.0.0.1",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "COM8",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true,
    "showWarnings": true,
    "showLogs": true
  },
  {
    "id": "12875da25f6e35a5",
    "type": "serial-port",
    "serialport": "COM5",
    "serialbaud": "9600",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "waitfor": "",
    "dtr": "none",
    "rts": "none",
    "cts": "none",
    "dsr": "none",
    "newline": "500",
    "bin": "bin",
    "out": "time",
    "addchar": "",
    "responsetimeout": "10000"
  },
  {
    "id": "a4e408c03b2c2e8f",
    "type": "inject",
    "z": "71aaba71cce9c427",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 140,
    "wires": [
      [
        "561e697e95310621"
      ]
    ]
  },
  {
    "id": "c4416050754c797f",
    "type": "comment",
    "z": "71aaba71cce9c427",
    "name": "EZIN-23 (냉동실)",
    "info": "",
    "x": 120,
    "y": 80,
    "wires": []
  },
  {
    "id": "55daa5d40673ad8b",
    "type": "delay",
    "z": "71aaba71cce9c427",
    "name": "0.2",
    "pauseType": "delay",
    "timeout": "0.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 350,
    "y": 180,
    "wires": [
      [
        "1e1b538f43576b10"
      ]
    ]
  },
  {
    "id": "54c9f93776a09746",
    "type": "http request",
    "z": "71aaba71cce9c427",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://localhost/smh-api/c0021/get_temperature_sync",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 850,
    "y": 160,
    "wires": [
      [
        "5d30773cdd3c26f4",
        "75166f15893583ef"
      ]
    ]
  },
  {
    "id": "bf96f88cdf4fcf67",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "send api",
    "func": "//장치 국번\nvar unitid = msg.unitId;\n\n// 현재 온도\nvar curTemp = \"\";\n\nif (msg.payload == \"error\") {\n    curTemp = \"\";\n} else {\n    //현재 온도 (음수 표현은 buffer parser에서 수정 조치, INT 16BE 필요)\n    curTemp = parseFloat(msg.payload) / 10;\n}\n\n\nmsg.headers = {};\nmsg.headers['content-type'] = \"application/json\";\nmsg.headers['Accept'] = \"application/json\";\n\nmsg.payload = {\n    \"ccode\": \"0021\",\n    \"scode\": \"76\",\n    \"kind\": \"4\",\n    \"deviceId\": 2,\n    \"temperature\": curTemp,\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 680,
    "y": 180,
    "wires": [
      [
        "54c9f93776a09746",
        "ef9d2182bffbd36d"
      ]
    ]
  },
  {
    "id": "561e697e95310621",
    "type": "modbus-getter",
    "z": "71aaba71cce9c427",
    "name": "EZIN-23 (COM8)",
    "showStatusActivities": false,
    "showErrors": true,
    "showWarnings": true,
    "logIOActivities": false,
    "unitid": "1",
    "dataType": "InputRegister",
    "adr": "0",
    "quantity": "1",
    "server": "c9a8c642e355136d",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 170,
    "y": 200,
    "wires": [
      [
        "55daa5d40673ad8b"
      ],
      [
        "f8b9e0f442b4a788"
      ]
    ]
  },
  {
    "id": "1e1b538f43576b10",
    "type": "buffer-parser",
    "z": "71aaba71cce9c427",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "int16be",
        "name": "item1",
        "offset": 0,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": false,
    "setTopic": true,
    "outputs": 1,
    "x": 510,
    "y": 180,
    "wires": [
      [
        "bf96f88cdf4fcf67"
      ]
    ]
  },
  {
    "id": "b721775923e05406",
    "type": "inject",
    "z": "71aaba71cce9c427",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 460,
    "wires": [
      [
        "206739c4ac1d1dcb"
      ]
    ]
  },
  {
    "id": "206739c4ac1d1dcb",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "2003cc",
    "func": "// 1번\nmsg.payload = Buffer.from([0x02, 0x30, 0x31, 0x52, 0x58, 0x54, 0x50, 0x30, 0x03, 0x3e]);\nnode.send(msg);\n\n// 2번\n//msg.payload = Buffer.from([0x02, 0x30, 0x32, 0x52, 0x58, 0x54, 0x50, 0x30, 0x03, 0x3d]);\n//node.send(msg);",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 140,
    "y": 520,
    "wires": [
      [
        "e8ea73fa5c4bdfb6"
      ]
    ]
  },
  {
    "id": "28c0ecb10e2a73eb",
    "type": "buffer-parser",
    "z": "71aaba71cce9c427",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "ascii",
        "name": "주소",
        "offset": 3,
        "length": 1,
        "offsetbit": 0,
        "scale": "0",
        "mask": ""
      },
      {
        "type": "ascii",
        "name": "온도",
        "offset": 9,
        "length": 4,
        "offsetbit": 0,
        "scale": "0",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": true,
    "setTopic": true,
    "outputs": 1,
    "x": 450,
    "y": 500,
    "wires": [
      [
        "5cc32f5084e2d199"
      ]
    ]
  },
  {
    "id": "5cc32f5084e2d199",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "parseData",
    "func": "// 장치 국번\nvar adr = parseInt(msg.payload[0]);\n\n// 현재 온도\nvar temperature = \"\";\n\nif (msg.payload == \"error\") {\n    temperature = \"\";\n} else {\n    temperature = parseFloat(Buffer.from(msg.payload[1], \"hex\").readInt16BE(0)) / 10;\n}\n\n\nmsg.headers = {\n    \"content-type\": \"application/json\",\n    \"Accept\": \"application/json\"\n};\n\nmsg.payload = {\n    \"ccode\": \"0021\",\n    \"scode\": \"75\",\n    \"kind\": \"4\",\n    \"deviceId\": 1,\n    \"temperature\": temperature,\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 630,
    "y": 500,
    "wires": [
      [
        "5a53bc7081974a2e",
        "93b557a669defec4"
      ]
    ]
  },
  {
    "id": "32bcd06ce00e6bf6",
    "type": "comment",
    "z": "71aaba71cce9c427",
    "name": "2003cc (냉장실)",
    "info": "",
    "x": 120,
    "y": 400,
    "wires": []
  },
  {
    "id": "93b557a669defec4",
    "type": "http request",
    "z": "71aaba71cce9c427",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://localhost/smh-api/c0021/get_temperature_sync",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 810,
    "y": 480,
    "wires": [
      [
        "0fc2a9bd5ead2f52",
        "a7e3e3d508da4b9a"
      ]
    ]
  },
  {
    "id": "5a53bc7081974a2e",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 6",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 800,
    "y": 520,
    "wires": []
  },
  {
    "id": "0fc2a9bd5ead2f52",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 7",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 980,
    "y": 500,
    "wires": []
  },
  {
    "id": "e8ea73fa5c4bdfb6",
    "type": "serial request",
    "z": "71aaba71cce9c427",
    "name": "",
    "serial": "12875da25f6e35a5",
    "x": 290,
    "y": 520,
    "wires": [
      [
        "28c0ecb10e2a73eb",
        "3ac1ddc38bf81c0f"
      ]
    ]
  },
  {
    "id": "d3be2690d6fb5b26",
    "type": "http request",
    "z": "71aaba71cce9c427",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://localhost/smh-api/c0021/sync",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1170,
    "y": 460,
    "wires": [
      []
    ]
  },
  {
    "id": "a7e3e3d508da4b9a",
    "type": "delay",
    "z": "71aaba71cce9c427",
    "name": "Delay 1 sec",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 990,
    "y": 460,
    "wires": [
      [
        "d3be2690d6fb5b26"
      ]
    ]
  },
  {
    "id": "5d30773cdd3c26f4",
    "type": "delay",
    "z": "71aaba71cce9c427",
    "name": "Delay 1 sec",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1030,
    "y": 140,
    "wires": [
      [
        "da58084441182e82"
      ]
    ]
  },
  {
    "id": "da58084441182e82",
    "type": "http request",
    "z": "71aaba71cce9c427",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://localhost/smh-api/c0021/sync",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1210,
    "y": 140,
    "wires": [
      []
    ]
  },
  {
    "id": "f8b9e0f442b4a788",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 8",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 360,
    "y": 220,
    "wires": []
  },
  {
    "id": "3ac1ddc38bf81c0f",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 9",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 440,
    "y": 540,
    "wires": []
  },
  {
    "id": "ef9d2182bffbd36d",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 10",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 840,
    "y": 200,
    "wires": []
  },
  {
    "id": "75166f15893583ef",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 11",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1020,
    "y": 180,
    "wires": []
  },
  {
    "id": "8e3633e29119f2ce",
    "type": "catch",
    "z": "71aaba71cce9c427",
    "name": "",
    "scope": [
      "561e697e95310621"
    ],
    "uncaught": false,
    "x": 130,
    "y": 280,
    "wires": [
      [
        "d6b000050d6a28ba"
      ]
    ]
  },
  {
    "id": "d6b000050d6a28ba",
    "type": "change",
    "z": "71aaba71cce9c427",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 300,
    "y": 280,
    "wires": [
      [
        "bf96f88cdf4fcf67"
      ]
    ]
  },
  {
    "id": "0d7f75ac60ad7282",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "send api 기존",
    "func": "//현재 온도 (음수 표현은 buffer parser에서 수정 조치, INT 16BE 필요)\nvar curTemp = parseFloat(msg.payload) / 10;\n\n//장치 국번\nvar unitid = msg.unitId;\n\nmsg.headers = {};\nmsg.headers['content-type'] = \"application/json\";\nmsg.headers['Accept'] = \"application/json\";\n\nmsg.payload = {\n    \"ccode\": \"0021\",\n    \"scode\": \"76\",\n    \"kind\": \"4\",\n    \"deviceId\": 2,\n    \"temperature\": curTemp,\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 700,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "33d72487f72dfb0c",
    "type": "catch",
    "z": "71aaba71cce9c427",
    "name": "",
    "scope": [
      "e8ea73fa5c4bdfb6"
    ],
    "uncaught": false,
    "x": 130,
    "y": 600,
    "wires": [
      [
        "29070069f1d81e32"
      ]
    ]
  },
  {
    "id": "29070069f1d81e32",
    "type": "change",
    "z": "71aaba71cce9c427",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 300,
    "y": 600,
    "wires": [
      [
        "5cc32f5084e2d199"
      ]
    ]
  },
  {
    "id": "2596da35f541a453",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "parseData 기존",
    "func": "var temperature = parseFloat(Buffer.from(msg.payload[1], \"hex\").readInt16BE(0)) / 10;\nvar adr = parseInt(msg.payload[0]);\n\nmsg.headers = {\n    \"content-type\": \"application/json\",\n    \"Accept\": \"application/json\"\n};\n\nmsg.payload = {\n    \"ccode\": \"0021\",\n    \"scode\": \"75\",\n    \"kind\": \"4\",\n    \"deviceId\": 1,\n    \"temperature\": temperature,\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 640,
    "y": 460,
    "wires": [
      []
    ]
  }
]