0028_node-red_flows.json
[
  {
    "id": "5e99d5afcc1bc9a3",
    "type": "tab",
    "label": "다미아일품",
    "disabled": false,
    "info": "1. 터널프리저(장치) → PLC1 → 포스기 → MySQL DB → API → 플랫폼\r\n2. 셔틀패너(장치) → PLC2 → 포스기 → MySQL DB → API → 플랫폼\r\n3. 오므론 온도제어기(장치) → 솔내컨버터(smg-5400) → 포스기 → MySQL DB → API → 플랫폼\r\n",
    "env": []
  },
  {
    "id": "83321c3d1b0f6285",
    "type": "tab",
    "label": "구버전",
    "disabled": true,
    "info": "",
    "env": []
  },
  {
    "id": "b9895735130da027",
    "type": "modbus-client",
    "name": "오므론 온도제어기",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "192.168.0.201",
    "tcpPort": "1501",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": 1,
    "commandDelay": 1,
    "clientTimeout": 1000,
    "reconnectOnTimeout": true,
    "reconnectTimeout": 2000,
    "parallelUnitIdsAllowed": true,
    "showWarnings": true,
    "showLogs": true
  },
  {
    "id": "b0b981838aca64c6",
    "type": "MySQLdatabase",
    "name": "",
    "host": "127.0.0.1",
    "port": "3306",
    "db": "tc_device",
    "tz": "",
    "charset": "UTF8"
  },
  {
    "id": "34654803fe111f09",
    "type": "MySQLdatabase",
    "name": "",
    "host": "127.0.0.1",
    "port": "3306",
    "db": "tc_device",
    "tz": "",
    "charset": "UTF8"
  },
  {
    "id": "ae9d435d665efd43",
    "type": "modbustcp-server",
    "name": "터널프리저",
    "host": "192.168.0.221",
    "port": "502",
    "unit_id": "2",
    "reconnecttimeout": ""
  },
  {
    "id": "1141f23eed59efe7",
    "type": "modbustcp-server",
    "name": "셔틀패너",
    "host": "192.168.0.222",
    "port": "502",
    "unit_id": "1",
    "reconnecttimeout": "2"
  },
  {
    "id": "5ccca0db4a20820e",
    "type": "modbustcp-server",
    "name": "",
    "host": "192.168.0.201",
    "port": "1501",
    "unit_id": "1",
    "reconnecttimeout": "1"
  },
  {
    "id": "00346feeb838b99d",
    "type": "modbustcp-server",
    "name": "터널프리저",
    "host": "192.168.0.221",
    "port": "502",
    "unit_id": "2",
    "reconnecttimeout": "2"
  },
  {
    "id": "43cd89a04c42fb4a",
    "type": "modbustcp-server",
    "name": "TEMP",
    "host": "192.168.0.201",
    "port": "502",
    "unit_id": "3",
    "reconnecttimeout": "2"
  },
  {
    "id": "79ac57f130ad708f",
    "type": "modbustcp-server",
    "d": true,
    "name": "셔틀패너",
    "host": "192.168.0.222",
    "port": "502",
    "unit_id": "1",
    "reconnecttimeout": "2"
  },
  {
    "id": "6dbb6a874d8b5575",
    "type": "modbus-client",
    "name": "터널프리저_PLC",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "192.168.0.221",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": "2",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true,
    "showWarnings": true,
    "showLogs": true
  },
  {
    "id": "f9ef823e3f5745f0",
    "type": "modbus-client",
    "name": "셔틀패너_PLC",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "192.168.0.222",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true,
    "showWarnings": true,
    "showLogs": true
  },
  {
    "id": "1e5c784762af09b5",
    "type": "function",
    "z": "5e99d5afcc1bc9a3",
    "name": "SQL쿼리(MiddleTemp)",
    "func": "msg.topic = 'SELECT MiddleTemp, date FROM temp WHERE (date BETWEEN date_add(now(), interval -15 second) AND now()) ORDER BY date DESC LIMIT 1';\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 760,
    "wires": [
      [
        "286698dbf7443c40"
      ]
    ]
  },
  {
    "id": "0db3508706e8204f",
    "type": "inject",
    "z": "5e99d5afcc1bc9a3",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 760,
    "wires": [
      [
        "1e5c784762af09b5"
      ]
    ]
  },
  {
    "id": "bfad8abbbd15031c",
    "type": "debug",
    "z": "5e99d5afcc1bc9a3",
    "name": "debug 18",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 860,
    "wires": []
  },
  {
    "id": "0d4607aff816ded9",
    "type": "function",
    "z": "5e99d5afcc1bc9a3",
    "name": "터널프리저(중간온도) send api",
    "func": "let input_value = msg.payload;\nlet temp = input_value[0]['MiddleTemp'];\nlet date = input_value[0]['date'];\n\nmsg.headers = {};\nmsg.headers['content-type'] = \"application/json\";\nmsg.headers['Accept'] = \"application/json\";\n\nmsg.payload = {\n    \"ccode\": \"0098\",\n    \"scode\" : \"153\",\n    \"middleTemp\" : temp,\n    \"deviceId\" : \"1\",\n    \"regdate\" : date,\n    \"ip\" : \"127.0.0.1\"\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 840,
    "wires": [
      [
        "7f892c2283b22610",
        "14801dd4ab5dc43a"
      ]
    ]
  },
  {
    "id": "7f892c2283b22610",
    "type": "http request",
    "z": "5e99d5afcc1bc9a3",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "https://pc.smarthaccpman.com/nodered_api/get_pos_damia",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 650,
    "y": 860,
    "wires": [
      [
        "bfad8abbbd15031c"
      ]
    ]
  },
  {
    "id": "e1d22dfaf43d02cc",
    "type": "function",
    "z": "5e99d5afcc1bc9a3",
    "name": "SQL쿼리(OmronTemp)",
    "func": "msg.topic = 'SELECT OmronTemp, date FROM temp WHERE (date BETWEEN date_add(now(), interval -15 second) AND now()) ORDER BY date DESC LIMIT 1';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 940,
    "wires": [
      [
        "e07b7c790364ce19"
      ]
    ]
  },
  {
    "id": "70b7a03f24a32d8f",
    "type": "inject",
    "z": "5e99d5afcc1bc9a3",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 940,
    "wires": [
      [
        "e1d22dfaf43d02cc"
      ]
    ]
  },
  {
    "id": "9b1d23d5df9e8f08",
    "type": "debug",
    "z": "5e99d5afcc1bc9a3",
    "name": "debug 19",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 1040,
    "wires": []
  },
  {
    "id": "dfa10c0a1fc7c0c9",
    "type": "function",
    "z": "5e99d5afcc1bc9a3",
    "name": "오므론(2봉 워너믹서) send api",
    "func": "let input_value = msg.payload;\nlet temp = input_value[0]['OmronTemp'];\nlet date = input_value[0]['date'];\n\nmsg.headers = {};\nmsg.headers['content-type'] = \"application/json\";\nmsg.headers['Accept'] = \"application/json\";\n\nmsg.payload = {\n    \"ccode\": \"0098\",\n    \"scode\": \"154\",\n    \"middleTemp\": temp,\n    \"deviceId\" : \"1\",\n    \"regdate\" : date,\n    \"ip\" : \"127.0.0.1\"\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 410,
    "y": 1020,
    "wires": [
      [
        "18aedf726099fd2e",
        "a8a07aa6ddffebb1"
      ]
    ]
  },
  {
    "id": "18aedf726099fd2e",
    "type": "http request",
    "z": "5e99d5afcc1bc9a3",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "https://pc.smarthaccpman.com/nodered_api/get_pos_damia",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 650,
    "y": 1040,
    "wires": [
      [
        "9b1d23d5df9e8f08"
      ]
    ]
  },
  {
    "id": "5d380b8b32f69578",
    "type": "function",
    "z": "5e99d5afcc1bc9a3",
    "name": "SQL쿼리(셔틀패너)",
    "func": "msg.topic = 'SELECT TotalCount, date FROM temp WHERE (date BETWEEN date_add(now(), interval -15 second) AND now()) ORDER BY date DESC LIMIT 1';\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 580,
    "wires": [
      [
        "43b846e474111dd0"
      ]
    ]
  },
  {
    "id": "1b0b9685a80f9be1",
    "type": "inject",
    "z": "5e99d5afcc1bc9a3",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 580,
    "wires": [
      [
        "5d380b8b32f69578"
      ]
    ]
  },
  {
    "id": "b160c23cce73f3a6",
    "type": "debug",
    "z": "5e99d5afcc1bc9a3",
    "name": "debug 21",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 680,
    "wires": []
  },
  {
    "id": "85dd7e75227a911d",
    "type": "function",
    "z": "5e99d5afcc1bc9a3",
    "name": "셔틀패너 send api",
    "func": "let input_value = msg.payload;\nlet count = input_value[0]['TotalCount'];\nlet date = input_value[0]['date'];\n\nmsg.headers = {};\nmsg.headers['content-type'] = \"application/json\";\nmsg.headers['Accept'] = \"application/json\";\n\nmsg.payload = {\n    \"ccode\": \"0098\",\n    \"count\": count,\n    \"deviceId\": \"2\",\n    \"sdate\": date,\n    \"edate\" : date,\n    \"regdate\": date, \n    \"ip\" : \"127.0.0.1\"\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 390,
    "y": 660,
    "wires": [
      [
        "e77c25c19933cd11",
        "8752b86df3456b66"
      ]
    ]
  },
  {
    "id": "e77c25c19933cd11",
    "type": "http request",
    "z": "5e99d5afcc1bc9a3",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "https://pc.smarthaccpman.com/nodered_api/get_pos_damia2",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 590,
    "y": 680,
    "wires": [
      [
        "b160c23cce73f3a6"
      ]
    ]
  },
  {
    "id": "3e47e8e8f69b1d1f",
    "type": "comment",
    "z": "5e99d5afcc1bc9a3",
    "name": "send API",
    "info": "",
    "x": 100,
    "y": 540,
    "wires": []
  },
  {
    "id": "286698dbf7443c40",
    "type": "mysql",
    "z": "5e99d5afcc1bc9a3",
    "mydb": "34654803fe111f09",
    "name": "",
    "x": 520,
    "y": 760,
    "wires": [
      [
        "0d4607aff816ded9"
      ]
    ]
  },
  {
    "id": "e07b7c790364ce19",
    "type": "mysql",
    "z": "5e99d5afcc1bc9a3",
    "mydb": "34654803fe111f09",
    "name": "",
    "x": 520,
    "y": 940,
    "wires": [
      [
        "dfa10c0a1fc7c0c9"
      ]
    ]
  },
  {
    "id": "43b846e474111dd0",
    "type": "mysql",
    "z": "5e99d5afcc1bc9a3",
    "mydb": "34654803fe111f09",
    "name": "",
    "x": 500,
    "y": 580,
    "wires": [
      [
        "85dd7e75227a911d"
      ]
    ]
  },
  {
    "id": "684c7819a99794da",
    "type": "comment",
    "z": "5e99d5afcc1bc9a3",
    "name": "MySQL DB - 저장된 기간이 현재 날짜의 기준으로 7일이 지난 데이터는 삭제하는 delete query",
    "info": "",
    "x": 360,
    "y": 1140,
    "wires": []
  },
  {
    "id": "984913ce868930a7",
    "type": "inject",
    "z": "5e99d5afcc1bc9a3",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "05 00 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 1180,
    "wires": [
      [
        "6963cbfb1d112772"
      ]
    ]
  },
  {
    "id": "6963cbfb1d112772",
    "type": "function",
    "z": "5e99d5afcc1bc9a3",
    "name": "delete query",
    "func": "msg.topic = \"DELETE FROM temp WHERE date < CURDATE() - INTERVAL 7 DAY\";\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 1180,
    "wires": [
      [
        "f1bc0a9e06da0625"
      ]
    ]
  },
  {
    "id": "f1bc0a9e06da0625",
    "type": "mysql",
    "z": "5e99d5afcc1bc9a3",
    "mydb": "b0b981838aca64c6",
    "name": "",
    "x": 480,
    "y": 1180,
    "wires": [
      [
        "fc6803d8bdc147f8"
      ]
    ]
  },
  {
    "id": "fc6803d8bdc147f8",
    "type": "debug",
    "z": "5e99d5afcc1bc9a3",
    "name": "debug 23",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 640,
    "y": 1180,
    "wires": []
  },
  {
    "id": "34a2d173c9eb4887",
    "type": "inject",
    "z": "5e99d5afcc1bc9a3",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "8",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 110,
    "y": 80,
    "wires": [
      [
        "49dcfdcb3e67e506"
      ]
    ]
  },
  {
    "id": "c99fcc1661171b9b",
    "type": "modbus-getter",
    "z": "5e99d5afcc1bc9a3",
    "name": "터널프리저_PLC",
    "showStatusActivities": true,
    "showErrors": true,
    "showWarnings": true,
    "logIOActivities": false,
    "unitid": "2",
    "dataType": "InputRegister",
    "adr": "5",
    "quantity": "1",
    "server": "6dbb6a874d8b5575",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": true,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 170,
    "y": 220,
    "wires": [
      [
        "cff0bbcbcd5d7c40"
      ],
      []
    ]
  },
  {
    "id": "b4a85c21425d5438",
    "type": "function",
    "z": "5e99d5afcc1bc9a3",
    "name": "중간 온도",
    "func": "const device = 2;\nlet value = (msg.payload == null || msg.payload == \"\") ? \"\" : msg.payload;\n\nif (value > 32767) {\n    value -= 65535;\n}\n\nvalue = parseFloat(value) / 10;\n\nmsg.payload = [device, value];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 540,
    "y": 220,
    "wires": [
      [
        "176cfcc49a8e9042"
      ]
    ]
  },
  {
    "id": "cf67a0a3272b9658",
    "type": "function",
    "z": "5e99d5afcc1bc9a3",
    "name": "insert DB",
    "func": "var totalCount = \"\";\nvar middleTemp = \"\";\nvar omronTemp = \"\";\n\nfor (let i = 0; i < 3; i++) {\n    const device = msg.payload[i][0];\n    const value = msg.payload[i][1];\n\n    switch (device) {\n        case 1:\n            totalCount = value;\n            break;\n\n        case 2:\n            middleTemp = value;\n            break;\n\n        case 3:\n            omronTemp = value;\n            break;\n    }\n}\n\nmsg.payload = {\n    \"totalCount\": totalCount,\n    \"middleTemp\": middleTemp,\n    \"omronTemp\": omronTemp\n}\n\nmsg.topic = \"insert into temp(TotalCount, MiddleTemp, OmronTemp, date) values('\" + totalCount + \"', '\" + middleTemp + \"', '\" + omronTemp + \"', current_timestamp());\";\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 400,
    "wires": [
      [
        "f40c76d72e7bd7d1",
        "37ad13edcb079b9f"
      ]
    ]
  },
  {
    "id": "cff0bbcbcd5d7c40",
    "type": "delay",
    "z": "5e99d5afcc1bc9a3",
    "name": "",
    "pauseType": "delay",
    "timeout": "0.5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 370,
    "y": 220,
    "wires": [
      [
        "b4a85c21425d5438",
        "a7e3c5d78aa5b7c9"
      ]
    ]
  },
  {
    "id": "49dcfdcb3e67e506",
    "type": "modbus-getter",
    "z": "5e99d5afcc1bc9a3",
    "name": "셔틀패너_PLC",
    "showStatusActivities": true,
    "showErrors": true,
    "showWarnings": true,
    "logIOActivities": false,
    "unitid": "1",
    "dataType": "InputRegister",
    "adr": "20",
    "quantity": "1",
    "server": "f9ef823e3f5745f0",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": true,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 160,
    "y": 140,
    "wires": [
      [
        "0d2a927bd22a5616"
      ],
      []
    ]
  },
  {
    "id": "0d2a927bd22a5616",
    "type": "delay",
    "z": "5e99d5afcc1bc9a3",
    "name": "",
    "pauseType": "delay",
    "timeout": "0.5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 350,
    "y": 140,
    "wires": [
      [
        "49d22122e523338c",
        "c99fcc1661171b9b"
      ]
    ]
  },
  {
    "id": "49d22122e523338c",
    "type": "function",
    "z": "5e99d5afcc1bc9a3",
    "name": "생산량",
    "func": "const device = 1;\nconst value = (msg.payload == null || msg.payload == \"\") ? \"\" : msg.payload[0];\n\nmsg.payload = [device, value];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 140,
    "wires": [
      [
        "176cfcc49a8e9042"
      ]
    ]
  },
  {
    "id": "a7e3c5d78aa5b7c9",
    "type": "modbus-getter",
    "z": "5e99d5afcc1bc9a3",
    "name": "오므론_temp",
    "showStatusActivities": true,
    "showErrors": true,
    "showWarnings": true,
    "logIOActivities": false,
    "unitid": "1",
    "dataType": "HoldingRegister",
    "adr": "9218",
    "quantity": "1",
    "server": "b9895735130da027",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": true,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 150,
    "y": 300,
    "wires": [
      [
        "9873264689ffe9df"
      ],
      []
    ]
  },
  {
    "id": "9873264689ffe9df",
    "type": "delay",
    "z": "5e99d5afcc1bc9a3",
    "name": "",
    "pauseType": "delay",
    "timeout": "0.5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 310,
    "y": 300,
    "wires": [
      [
        "674022599477fcf0"
      ]
    ]
  },
  {
    "id": "674022599477fcf0",
    "type": "function",
    "z": "5e99d5afcc1bc9a3",
    "name": "2봉 워너믹서 온도",
    "func": "const device = 3;\nconst value = (msg.payload == null || msg.payload == \"\") ? \"\" : msg.payload[0];\n\nmsg.payload = [device, value];\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 510,
    "y": 300,
    "wires": [
      [
        "176cfcc49a8e9042"
      ]
    ]
  },
  {
    "id": "176cfcc49a8e9042",
    "type": "join",
    "z": "5e99d5afcc1bc9a3",
    "name": "",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "3",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 730,
    "y": 220,
    "wires": [
      [
        "cf67a0a3272b9658"
      ]
    ]
  },
  {
    "id": "df5719370619911f",
    "type": "comment",
    "z": "5e99d5afcc1bc9a3",
    "name": "장치 정보",
    "info": "1. 셔틀패너_PLC\n-수집 데이터 : 생산량\n-IP : 192.168.0.222\n-PORT : 502\n-FC : 4\n-데이터 불러오는 주소 : 20\n\n2. 터널프리저_PLC\n-수집 데이터 : 중간 온도\n-IP : 192.168.0.221\n-PORT : 502\n-FC : 4\n-데이터 불러오는 주소 : 5\n\n3. 오므론 온도컨트롤러\n-수집 데이터 : 2봉 워너믹서 온도\n-IP : 192.168.0.201\n-PORT : 1501\n-FC : 3\n-데이터 불러오는 주소 : 9218",
    "x": 80,
    "y": 40,
    "wires": []
  },
  {
    "id": "f40c76d72e7bd7d1",
    "type": "debug",
    "z": "5e99d5afcc1bc9a3",
    "name": "debug 25",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 780,
    "y": 380,
    "wires": []
  },
  {
    "id": "37ad13edcb079b9f",
    "type": "mysql",
    "z": "5e99d5afcc1bc9a3",
    "mydb": "b0b981838aca64c6",
    "name": "",
    "x": 780,
    "y": 420,
    "wires": [
      [
        "fc20c7108b97b430"
      ]
    ]
  },
  {
    "id": "fc20c7108b97b430",
    "type": "debug",
    "z": "5e99d5afcc1bc9a3",
    "name": "debug 24",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 940,
    "y": 420,
    "wires": []
  },
  {
    "id": "14801dd4ab5dc43a",
    "type": "debug",
    "z": "5e99d5afcc1bc9a3",
    "name": "debug 26",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 640,
    "y": 820,
    "wires": []
  },
  {
    "id": "a8a07aa6ddffebb1",
    "type": "debug",
    "z": "5e99d5afcc1bc9a3",
    "name": "debug 27",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 640,
    "y": 1000,
    "wires": []
  },
  {
    "id": "8752b86df3456b66",
    "type": "debug",
    "z": "5e99d5afcc1bc9a3",
    "name": "debug 28",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 580,
    "y": 640,
    "wires": []
  },
  {
    "id": "f68a7aea4f52d72b",
    "type": "debug",
    "z": "83321c3d1b0f6285",
    "name": "debug 9",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 80,
    "wires": []
  },
  {
    "id": "84bbad8421a8d64d",
    "type": "debug",
    "z": "83321c3d1b0f6285",
    "name": "debug 10",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 160,
    "wires": []
  },
  {
    "id": "ff4e9a797846b990",
    "type": "function",
    "z": "83321c3d1b0f6285",
    "name": "PLC1(터널프리저) 중간온도",
    "func": "//TotalCount\n//MiddleTemp\n//OmronTemp\n\n//var temp = (Math.round(msg.payload * 10)) / 100\nvar temp = parseInt(msg.payload);\n\n// 영하 온도 표시\nif (temp > 32767) {    // temp값이 32767보다 크다면\n    temp -= 65536;     // temp값에서 65536을 뺀 후에 다시 대입\n}\n\nvar temp1 = temp + 3\ntemp1 = parseFloat(temp1) / 10;\nvar MiddleTemp\n//var MiddleTemp = global.get(\"counter\") || 0\nMiddleTemp = temp1  // 영상 온도\n\nglobal.set(\"MiddleTemp\", MiddleTemp)\nmsg.payload = MiddleTemp\n\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 320,
    "y": 80,
    "wires": [
      [
        "f68a7aea4f52d72b"
      ]
    ]
  },
  {
    "id": "cd0a5840d943b86e",
    "type": "inject",
    "z": "83321c3d1b0f6285",
    "d": true,
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "2",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 110,
    "y": 380,
    "wires": [
      [
        "24d55790d0d4efd6",
        "4a6a5add7b95bef0",
        "76456b5e81f05835",
        "fb7dd645e72cc41f",
        "6f518b42d05a43a1"
      ]
    ]
  },
  {
    "id": "24d55790d0d4efd6",
    "type": "function",
    "z": "83321c3d1b0f6285",
    "name": "PLC1 터널프리저 중간온도",
    "func": "var temp = global.get(\"MiddleTemp\")\nmsg.payload = temp\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 340,
    "y": 380,
    "wires": [
      [
        "e312575749f4c95d"
      ]
    ]
  },
  {
    "id": "e312575749f4c95d",
    "type": "debug",
    "z": "83321c3d1b0f6285",
    "name": "debug 12",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 580,
    "y": 380,
    "wires": []
  },
  {
    "id": "390c49a009cbbfe6",
    "type": "function",
    "z": "83321c3d1b0f6285",
    "name": "PLC2(셔틀패너) Total수량",
    "func": "//TotalCount\n//MiddleTemp\n//OmronTemp\nvar temp = msg.payload\nvar TotalCount\n//var TotalCount = global.get(\"TotalCount\") || 0\nTotalCount = temp * 1\nglobal.set(\"TotalCount\", TotalCount)\nmsg.payload = TotalCount\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 160,
    "wires": [
      [
        "84bbad8421a8d64d"
      ]
    ]
  },
  {
    "id": "4a6a5add7b95bef0",
    "type": "function",
    "z": "83321c3d1b0f6285",
    "name": "PLC2(셔틀패너) Total수량",
    "func": "var temp = global.get(\"TotalCount\")\nmsg.payload = temp\nreturn msg;\n//TotalCount\n//MiddleTemp\n//OmronTemp",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 440,
    "wires": [
      [
        "4c7bc34ad52e3687"
      ]
    ]
  },
  {
    "id": "4c7bc34ad52e3687",
    "type": "debug",
    "z": "83321c3d1b0f6285",
    "name": "debug 13",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 580,
    "y": 440,
    "wires": []
  },
  {
    "id": "76456b5e81f05835",
    "type": "function",
    "z": "83321c3d1b0f6285",
    "name": "TEMP(OMRON) TEMP",
    "func": "var temp = global.get(\"OmronTemp\")\nmsg.payload = temp\n\nreturn msg;\n",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 500,
    "wires": [
      [
        "4f4ac4410af1c5c6"
      ]
    ]
  },
  {
    "id": "4f4ac4410af1c5c6",
    "type": "debug",
    "z": "83321c3d1b0f6285",
    "name": "debug 14",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 580,
    "y": 500,
    "wires": []
  },
  {
    "id": "6f518b42d05a43a1",
    "type": "function",
    "z": "83321c3d1b0f6285",
    "d": true,
    "name": "SQL쿼리",
    "func": "var TotalCount = global.get(\"TotalCount\");\nvar MiddleTemp = global.get(\"MiddleTemp\");\n//var OmronTemp = global.get(\"OmronTemp\");\n//TotalCount\n//MiddleTemp\n//OmronTemp\n\nmsg.payload = [\n    //msg.payload.Version,\n    msg.payload.TotalCount = TotalCount,\n    msg.payload.MiddleTemp = \"22.0\",\n   // msg.payload.OmronTemp = OmronTemp,\n]\n\nmsg.topic = \"insert into fztable(TotalCount,MiddleTemp,date) values(?,?,current_timestamp());\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 280,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "fb7dd645e72cc41f",
    "type": "function",
    "z": "83321c3d1b0f6285",
    "name": "SQL쿼리(test)",
    "func": "var TotalCount = global.get(\"TotalCount\");\nvar MiddleTemp = global.get(\"MiddleTemp\");\nvar OmronTemp = global.get(\"OmronTemp\");\n//TotalCount\n//MiddleTemp\n//OmronTemp\n\nmsg.payload = [\n    //msg.payload.Version,\n    msg.payload.TotalCount = TotalCount,\n    msg.payload.MiddleTemp = MiddleTemp,\n    msg.payload.OmronTemp = OmronTemp,\n]\n\nmsg.topic = \"insert into temp(TotalCount,MiddleTemp,OmronTemp,date) values(?,?,?,current_timestamp());\";\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 300,
    "y": 600,
    "wires": [
      [
        "40071ae0e77d484c",
        "dc17230927eebbf3"
      ]
    ]
  },
  {
    "id": "c38a984ca610a1dc",
    "type": "function",
    "z": "83321c3d1b0f6285",
    "name": "TEMP(OMRON) TEMP",
    "func": "//TotalCount\n//MiddleTemp\n//OmronTemp\n\nvar temp = msg.payload;\nvar OmronTemp\n//var OmronTemp = global.get(\"OmronTemp\") || 0\nOmronTemp = temp;\nglobal.set(\"OmronTemp\", OmronTemp)\nmsg.payload = OmronTemp\n\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 260,
    "wires": [
      [
        "b85989685e39ff34"
      ]
    ]
  },
  {
    "id": "b85989685e39ff34",
    "type": "debug",
    "z": "83321c3d1b0f6285",
    "name": "debug 16",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 660,
    "y": 260,
    "wires": []
  },
  {
    "id": "195fd8a83884830a",
    "type": "comment",
    "z": "83321c3d1b0f6285",
    "name": "MySQL DB",
    "info": "",
    "x": 80,
    "y": 340,
    "wires": []
  },
  {
    "id": "bbda9e6ac5f1f5fb",
    "type": "modbus-read",
    "z": "83321c3d1b0f6285",
    "d": true,
    "name": "smg-5400",
    "topic": "",
    "showStatusActivities": false,
    "logIOActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "unitid": "1",
    "dataType": "HoldingRegister",
    "adr": "9218",
    "quantity": "1",
    "rate": "2",
    "rateUnit": "s",
    "delayOnStart": false,
    "startDelayTime": "",
    "server": "b9895735130da027",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "x": 100,
    "y": 260,
    "wires": [
      [
        "c38a984ca610a1dc"
      ],
      []
    ]
  },
  {
    "id": "40071ae0e77d484c",
    "type": "mysql",
    "z": "83321c3d1b0f6285",
    "d": true,
    "mydb": "b0b981838aca64c6",
    "name": "",
    "x": 580,
    "y": 600,
    "wires": [
      []
    ]
  },
  {
    "id": "d6a35b7932731233",
    "type": "modbustcp-read",
    "z": "83321c3d1b0f6285",
    "d": true,
    "name": "PLC1",
    "topic": "",
    "dataType": "InputRegister",
    "adr": "5",
    "quantity": "1",
    "rate": "10",
    "rateUnit": "s",
    "server": "ae9d435d665efd43",
    "ieeeType": "off",
    "ieeeBE": true,
    "x": 90,
    "y": 80,
    "wires": [
      [
        "ff4e9a797846b990"
      ]
    ]
  },
  {
    "id": "e8bd1a5f1409c143",
    "type": "modbustcp-read",
    "z": "83321c3d1b0f6285",
    "d": true,
    "name": "PLC1",
    "topic": "",
    "dataType": "InputRegister",
    "adr": "20",
    "quantity": "1",
    "rate": "10",
    "rateUnit": "s",
    "server": "1141f23eed59efe7",
    "ieeeType": "off",
    "ieeeBE": true,
    "x": 90,
    "y": 160,
    "wires": [
      [
        "390c49a009cbbfe6"
      ]
    ]
  },
  {
    "id": "dc17230927eebbf3",
    "type": "debug",
    "z": "83321c3d1b0f6285",
    "name": "debug 15",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 580,
    "y": 660,
    "wires": []
  }
]