0031_node-red_flows.json
[
  {
    "id": "87b82e24ba747dff",
    "type": "tab",
    "label": "플로우 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "e440ba56414be31c",
    "type": "modbustcp-server",
    "name": "냉각수축기",
    "host": "192.168.0.95",
    "port": "502",
    "unit_id": "1",
    "reconnecttimeout": "2"
  },
  {
    "id": "9d40803b75fb3113",
    "type": "modbustcp-server",
    "name": "",
    "host": "192.168.0.95",
    "port": "502",
    "unit_id": "1",
    "reconnecttimeout": "3000"
  },
  {
    "id": "acec2e240d842bac",
    "type": "function",
    "z": "87b82e24ba747dff",
    "name": "function 1",
    "func": "var temp = msg.payload;\nvar temperature;\nvar temperature2;\nvar result = new Array;\n\nfor (let i = 0; i<temp.length; i++) {\n    result[i] = parseFloat(temp[i]) / 10;\n    if (result[i] > 32767) {\n        result[i] -= 65536;\n    }\n}\n\nmsg.payload = {\n    \"ccode\" : \"0031\",\n    \"m_gubun\" : \"5\",\n    \"m_adr\" : \"3\",\n    \"speed\": result[4],\n    \"temperature\": result[0],\n    \"temperature2\": result[2]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 220,
    "y": 240,
    "wires": [
      [
        "6b6e147ed3ee6a57",
        "1a70a2e38b41d5c2"
      ]
    ]
  },
  {
    "id": "51c1989425cb86c5",
    "type": "debug",
    "z": "87b82e24ba747dff",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 240,
    "wires": []
  },
  {
    "id": "4d2e6ae49cafb693",
    "type": "comment",
    "z": "87b82e24ba747dff",
    "name": "냉각수축기",
    "info": "",
    "x": 100,
    "y": 180,
    "wires": []
  },
  {
    "id": "40ccbddd8abc97ab",
    "type": "function",
    "z": "87b82e24ba747dff",
    "name": "function 2",
    "func": "let temp = msg.payload;\n\nlet result = new Array;\nfor (let i = 0; i<temp.length; i++) {\n    result[i] = parseFloat(temp[i]) / 10;\n}\n\nmsg.payload = {\n    \"수축온도 현재 값\" : result[0],\n    \"수축온도 설정 값\" : result[1],\n    \"냉각온도 현재 값\" : result[2],\n    \"냉각온도 설정 값\" : result[3]\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 240,
    "y": 360,
    "wires": [
      [
        "6f509b3f9063ed23"
      ]
    ]
  },
  {
    "id": "6f509b3f9063ed23",
    "type": "debug",
    "z": "87b82e24ba747dff",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 400,
    "y": 360,
    "wires": []
  },
  {
    "id": "1f549cd7ca26f9aa",
    "type": "comment",
    "z": "87b82e24ba747dff",
    "name": "냉각수축기 0~50 모두 불러오기",
    "info": "",
    "x": 150,
    "y": 320,
    "wires": []
  },
  {
    "id": "6b6e147ed3ee6a57",
    "type": "http request",
    "z": "87b82e24ba747dff",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/hac_ccp_data/get_plc_data_0031",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 390,
    "y": 240,
    "wires": [
      [
        "51c1989425cb86c5"
      ]
    ]
  },
  {
    "id": "1a70a2e38b41d5c2",
    "type": "debug",
    "z": "87b82e24ba747dff",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 380,
    "y": 200,
    "wires": []
  },
  {
    "id": "1a7bec7fe08f257c",
    "type": "modbustcp-read",
    "z": "87b82e24ba747dff",
    "name": "PLC1",
    "topic": "",
    "dataType": "HoldingRegister",
    "adr": "15",
    "quantity": "5",
    "rate": "10",
    "rateUnit": "s",
    "server": "e440ba56414be31c",
    "ieeeType": "off",
    "ieeeBE": "true",
    "x": 70,
    "y": 240,
    "wires": [
      [
        "acec2e240d842bac"
      ]
    ]
  },
  {
    "id": "5b467fce83cb2732",
    "type": "modbustcp-read",
    "z": "87b82e24ba747dff",
    "d": true,
    "name": "PLC1 test",
    "topic": "",
    "dataType": "HoldingRegister",
    "adr": "15",
    "quantity": "5",
    "rate": "5",
    "rateUnit": "s",
    "server": "e440ba56414be31c",
    "ieeeType": "off",
    "ieeeBE": "true",
    "x": 80,
    "y": 360,
    "wires": [
      [
        "40ccbddd8abc97ab"
      ]
    ]
  }
]