0060_node-red_flows.json
[
  {
    "id": "ab1b68cca4833bc7",
    "type": "tab",
    "label": "플로우 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "154b0b415b75299c",
    "type": "modbus-client",
    "name": "",
    "clienttype": "tcp",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "192.168.222.224",
    "tcpPort": "1514",
    "tcpType": "DEFAULT",
    "serialPort": "/dev/ttyUSB",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true,
    "showWarnings": true,
    "showLogs": true
  },
  {
    "id": "63a21b314c03e2c1",
    "type": "tcp in",
    "z": "ab1b68cca4833bc7",
    "name": "금속검출기 5001",
    "server": "server",
    "host": "",
    "port": "5001",
    "datamode": "stream",
    "datatype": "buffer",
    "newline": "",
    "topic": "",
    "trim": false,
    "base64": false,
    "tls": "",
    "x": 100,
    "y": 80,
    "wires": [
      [
        "3f7ae9cf9e966f85",
        "5d26b51a4619a186",
        "9eea9635ccbe27e3"
      ]
    ]
  },
  {
    "id": "3f7ae9cf9e966f85",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "var ccode = \"0060\";\nvar scode = \"91\";\nvar type = \"2\";\nvar res = msg.payload;\n\nvar paseData = new Array();\nfor (var i = 0; i < res.length; i++) {\n    paseData[i] = String.fromCharCode(res[i]);\n}\n\nvar detected = false;\n\nif (type == \"1\" && (res.length % 34) == 0) {\n    // 나우시스템즈\n    if (paseData[0] == ' ' && paseData[32] == '\\r' && paseData[33] == '\\n') {\n        if ((paseData[1] + paseData[2]) == \"80\" || (paseData[1] + paseData[2]) == \"81\") {\n            detected = true;\n        }\n    }\n\n} else if (type == \"1\" && ((res.length % 23) == 0 || (res.length % 24) == 0)) {\n    if (paseData[0] == 'R' && paseData[1] == 'E' && paseData[2] == 'J') {\n        detected = true;\n    }\n\n} else if (type == \"2\" && (res.length % 6) == 0) {\n    if (paseData[0] == '\\u0002' && paseData[5] == '\\u0003') {\n        if (paseData[3] == \"1\") {\n            detected = true;\n        }\n    }\n\n} else if (type == \"3\" && (res.length % 11) == 0) {\n    for (var i = 1; i <= (res.length / 11); i++) {\n        if (paseData[(i * 11 - 1)] == \"\\u0001\") {\n            detected = true;\n        }\n    }\n\n}\n\nif (detected) {\n\n    msg.headers = {};\n    msg.headers['content-type'] = \"application/json\";\n    msg.headers['Accept'] = \"application/json\";\n\n    msg.payload = {\n        \"ccode\": ccode,\n        \"scode\": scode\n    };\n\n    return msg;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 290,
    "y": 80,
    "wires": [
      [
        "cb370cb4d8988ff7"
      ]
    ]
  },
  {
    "id": "b48503d5d781f12f",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "var ccode = \"0060\";\nvar scode = \"92\";\nvar type = \"2\";\nvar res = msg.payload;\n\nvar paseData = new Array();\nfor (var i = 0; i < res.length; i++) {\n    paseData[i] = String.fromCharCode(res[i]);\n}\n\nvar detected = false;\n\nif (type == \"1\" && (res.length % 34) == 0) {\n    // 나우시스템즈\n    if (paseData[0] == ' ' && paseData[32] == '\\r' && paseData[33] == '\\n') {\n        if ((paseData[1] + paseData[2]) == \"80\" || (paseData[1] + paseData[2]) == \"81\") {\n            detected = true;\n        }\n    }\n\n} else if (type == \"1\" && ((res.length % 23) == 0 || (res.length % 24) == 0)) {\n    if (paseData[0] == 'R' && paseData[1] == 'E' && paseData[2] == 'J') {\n        detected = true;\n    }\n\n} else if (type == \"2\" && (res.length % 6) == 0) {\n    if (paseData[0] == '\\u0002' && paseData[5] == '\\u0003') {\n        if (paseData[3] == \"1\") {\n            detected = true;\n        }\n    }\n\n} else if (type == \"3\" && (res.length % 11) == 0) {\n    for (var i = 1; i <= (res.length / 11); i++) {\n        if (paseData[(i * 11 - 1)] == \"\\u0001\") {\n            detected = true;\n        }\n    }\n\n}\n\nif (detected) {\n\n    msg.headers = {};\n    msg.headers['content-type'] = \"application/json\";\n    msg.headers['Accept'] = \"application/json\";\n\n    msg.payload = {\n        \"ccode\": ccode,\n        \"scode\": scode\n    };\n\n    return msg;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 290,
    "y": 180,
    "wires": [
      [
        "112292a962ba93b3"
      ]
    ]
  },
  {
    "id": "93bf10dd7919252b",
    "type": "comment",
    "z": "ab1b68cca4833bc7",
    "name": "모든다해",
    "info": "",
    "x": 80,
    "y": 20,
    "wires": []
  },
  {
    "id": "cb370cb4d8988ff7",
    "type": "http request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0060/get_detection",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 470,
    "y": 80,
    "wires": [
      [
        "a799d5c2f96e1644"
      ]
    ]
  },
  {
    "id": "a799d5c2f96e1644",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 9",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 640,
    "y": 80,
    "wires": []
  },
  {
    "id": "4f65cb9845558a4c",
    "type": "tcp in",
    "z": "ab1b68cca4833bc7",
    "name": "금속검출기 5002",
    "server": "server",
    "host": "",
    "port": "5002",
    "datamode": "stream",
    "datatype": "buffer",
    "newline": "",
    "topic": "",
    "trim": false,
    "base64": false,
    "tls": "",
    "x": 100,
    "y": 180,
    "wires": [
      [
        "b48503d5d781f12f",
        "28117bfb20c7f01d",
        "031c51710f967d65"
      ]
    ]
  },
  {
    "id": "077d2fd9fe4c2f45",
    "type": "tcp in",
    "z": "ab1b68cca4833bc7",
    "name": "금속검출기 5003",
    "server": "server",
    "host": "",
    "port": "5003",
    "datamode": "stream",
    "datatype": "buffer",
    "newline": "",
    "topic": "",
    "trim": false,
    "base64": false,
    "tls": "",
    "x": 100,
    "y": 280,
    "wires": [
      [
        "86b83f5820f6ab0e",
        "4847265fbdd8fe6d",
        "de1c9c7bfec5fdc8"
      ]
    ]
  },
  {
    "id": "86b83f5820f6ab0e",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "var ccode = \"0060\";\nvar scode = \"93\";\nvar type = \"2\";\nvar res = msg.payload;\n\nvar paseData = new Array();\nfor (var i = 0; i < res.length; i++) {\n    paseData[i] = String.fromCharCode(res[i]);\n}\n\nvar detected = false;\n\nif (type == \"1\" && (res.length % 34) == 0) {\n    // 나우시스템즈\n    if (paseData[0] == ' ' && paseData[32] == '\\r' && paseData[33] == '\\n') {\n        if ((paseData[1] + paseData[2]) == \"80\" || (paseData[1] + paseData[2]) == \"81\") {\n            detected = true;\n        }\n    }\n\n} else if (type == \"1\" && ((res.length % 23) == 0 || (res.length % 24) == 0)) {\n    if (paseData[0] == 'R' && paseData[1] == 'E' && paseData[2] == 'J') {\n        detected = true;\n    }\n\n} else if (type == \"2\" && (res.length % 6) == 0) {\n    if (paseData[0] == '\\u0002' && paseData[5] == '\\u0003') {\n        if (paseData[3] == \"1\") {\n            detected = true;\n        }\n    }\n\n} else if (type == \"3\" && (res.length % 11) == 0) {\n    for (var i = 1; i <= (res.length / 11); i++) {\n        if (paseData[(i * 11 - 1)] == \"\\u0001\") {\n            detected = true;\n        }\n    }\n\n}\n\nif (detected) {\n\n    msg.headers = {};\n    msg.headers['content-type'] = \"application/json\";\n    msg.headers['Accept'] = \"application/json\";\n\n    msg.payload = {\n        \"ccode\": ccode,\n        \"scode\": scode\n    };\n\n    return msg;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 290,
    "y": 280,
    "wires": [
      [
        "0c529f499a130613"
      ]
    ]
  },
  {
    "id": "112292a962ba93b3",
    "type": "http request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0060/get_detection",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 470,
    "y": 180,
    "wires": [
      [
        "9108b3c1fdb34ea5"
      ]
    ]
  },
  {
    "id": "9108b3c1fdb34ea5",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 11",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 640,
    "y": 180,
    "wires": []
  },
  {
    "id": "0c529f499a130613",
    "type": "http request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0060/get_detection",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 470,
    "y": 280,
    "wires": [
      [
        "8ce4c210b2977907"
      ]
    ]
  },
  {
    "id": "8ce4c210b2977907",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 13",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 620,
    "y": 280,
    "wires": []
  },
  {
    "id": "b3ac63f520a4101a",
    "type": "inject",
    "z": "ab1b68cca4833bc7",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 420,
    "wires": [
      [
        "908965663059fb91"
      ]
    ]
  },
  {
    "id": "eab0b04074bc3679",
    "type": "tcp request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "server": "192.168.222.211",
    "port": "1501",
    "out": "time",
    "ret": "buffer",
    "splitc": "0",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 530,
    "y": 420,
    "wires": [
      [
        "30f62567f6e812de"
      ]
    ]
  },
  {
    "id": "e02012f3c35c65ed",
    "type": "comment",
    "z": "ab1b68cca4833bc7",
    "name": "냉장/냉동",
    "info": "",
    "x": 80,
    "y": 380,
    "wires": []
  },
  {
    "id": "687484e426cbd009",
    "type": "tcp request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "server": "192.168.222.212",
    "port": "1502",
    "out": "time",
    "ret": "buffer",
    "splitc": "0",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 530,
    "y": 520,
    "wires": [
      [
        "79a9aa1bc4d707d4"
      ]
    ]
  },
  {
    "id": "75915b520f8d0c99",
    "type": "tcp request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "server": "192.168.222.214",
    "port": "1504",
    "out": "time",
    "ret": "buffer",
    "splitc": "0",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 530,
    "y": 720,
    "wires": [
      [
        "c2aade4e18f017b5"
      ]
    ]
  },
  {
    "id": "2e7c14a1d4eda2f8",
    "type": "tcp request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "server": "192.168.222.215",
    "port": "1505",
    "out": "time",
    "ret": "buffer",
    "splitc": "0",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 530,
    "y": 820,
    "wires": [
      [
        "16fa7af32fe626ab"
      ]
    ]
  },
  {
    "id": "0553c54fc68e39eb",
    "type": "tcp request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "server": "192.168.222.216",
    "port": "1506",
    "out": "time",
    "ret": "buffer",
    "splitc": "0",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 530,
    "y": 920,
    "wires": [
      [
        "e60f66a8ddb48214"
      ]
    ]
  },
  {
    "id": "ba417efe8e2632ab",
    "type": "tcp request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "server": "192.168.222.217",
    "port": "1507",
    "out": "time",
    "ret": "buffer",
    "splitc": "0",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 530,
    "y": 1020,
    "wires": [
      [
        "2118642a57006620"
      ]
    ]
  },
  {
    "id": "548656850f65a1e2",
    "type": "tcp request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "server": "192.168.222.218",
    "port": "1508",
    "out": "time",
    "ret": "buffer",
    "splitc": "0",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 530,
    "y": 1120,
    "wires": [
      [
        "ded978568b8d5641"
      ]
    ]
  },
  {
    "id": "54248ff3617f0fad",
    "type": "tcp request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "server": "192.168.222.219",
    "port": "1509",
    "out": "time",
    "ret": "buffer",
    "splitc": "0",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 530,
    "y": 1220,
    "wires": [
      [
        "45f2eee8fce5139b"
      ]
    ]
  },
  {
    "id": "473e7f39a429685d",
    "type": "tcp request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "server": "192.168.222.221",
    "port": "1511",
    "out": "time",
    "ret": "buffer",
    "splitc": "0",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 530,
    "y": 1420,
    "wires": [
      [
        "75a125267b69af16"
      ]
    ]
  },
  {
    "id": "9dc4abe854a8359d",
    "type": "tcp request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "server": "192.168.222.222",
    "port": "1512",
    "out": "time",
    "ret": "buffer",
    "splitc": "0",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 530,
    "y": 1520,
    "wires": [
      [
        "8906ef8ef8e3b55f"
      ]
    ]
  },
  {
    "id": "b6800e6da4585611",
    "type": "tcp request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "server": "192.168.222.223",
    "port": "1513",
    "out": "time",
    "ret": "buffer",
    "splitc": "0",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 530,
    "y": 1620,
    "wires": [
      [
        "0c2740496b27fbf7",
        "f608b80ff61e2d31"
      ]
    ]
  },
  {
    "id": "31d4b9d230eed3d8",
    "type": "tcp request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "server": "192.168.222.220",
    "port": "1510",
    "out": "time",
    "ret": "buffer",
    "splitc": "0",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 530,
    "y": 1320,
    "wires": [
      [
        "d176f5d809c2e121"
      ]
    ]
  },
  {
    "id": "1ac97f1f9f37bbf1",
    "type": "tcp request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "server": "192.168.222.224",
    "port": "1514",
    "out": "time",
    "ret": "buffer",
    "splitc": "0",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 530,
    "y": 1720,
    "wires": [
      [
        "85a36505b6c61362",
        "1da12e964f5da2fc"
      ]
    ]
  },
  {
    "id": "99d995e241feb167",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 30",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1420,
    "y": 400,
    "wires": []
  },
  {
    "id": "30f62567f6e812de",
    "type": "buffer-parser",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "hex",
        "name": "temp1",
        "offset": 9,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      },
      {
        "type": "hex",
        "name": "temp2",
        "offset": 10,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": false,
    "setTopic": true,
    "outputs": 1,
    "x": 750,
    "y": 420,
    "wires": [
      [
        "0a3f728f05a2b47c"
      ]
    ]
  },
  {
    "id": "0a3f728f05a2b47c",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "if (msg.payload == \"error\") {\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 1,\n        \"temperature\": \"\"\n    };\n\n    return msg;\n\n} else {\n\n    var temp = '';\n    if (msg.payload[0] === 0 && msg.payload[1] === 0) {\n        temp = 0;\n    } else {\n        temp = parseFloat(Buffer.from(msg.payload[0] + msg.payload[1], \"hex\").readInt16BE(0)) / 10;\n    }\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 1,\n        \"temperature\": temp\n    };\n\n    return msg;\n\n}    ",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 420,
    "wires": [
      [
        "5439c091914cae89",
        "938fc7b51a92e199",
        "4489b00480634296"
      ]
    ]
  },
  {
    "id": "cd4599f605c1fd90",
    "type": "tcp request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "server": "192.168.222.213",
    "port": "1503",
    "out": "time",
    "ret": "buffer",
    "splitc": "0",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 530,
    "y": 620,
    "wires": [
      [
        "54fb7c7b6cdda734"
      ]
    ]
  },
  {
    "id": "908965663059fb91",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "sendBuffer",
    "func": "msg.payload = Buffer.from([0x00, 0x01, 0x00, 0x00, 0x00, 0x06, 0x01, 0x04, 0x00, 0x64, 0x00, 0x01]);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 420,
    "wires": [
      [
        "eab0b04074bc3679"
      ]
    ]
  },
  {
    "id": "a07745e84e6e68a5",
    "type": "inject",
    "z": "ab1b68cca4833bc7",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 520,
    "wires": [
      [
        "3fe2d50504e613ac"
      ]
    ]
  },
  {
    "id": "3fe2d50504e613ac",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "sendBuffer",
    "func": "msg.payload = Buffer.from([0x00, 0x01, 0x00, 0x00, 0x00, 0x06, 0x02, 0x04, 0x00, 0x64, 0x00, 0x01]);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 520,
    "wires": [
      [
        "687484e426cbd009"
      ]
    ]
  },
  {
    "id": "5b48eb06cd3dee63",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 32",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1440,
    "y": 500,
    "wires": []
  },
  {
    "id": "79a9aa1bc4d707d4",
    "type": "buffer-parser",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "hex",
        "name": "temp1",
        "offset": 9,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      },
      {
        "type": "hex",
        "name": "temp2",
        "offset": 10,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": false,
    "setTopic": true,
    "outputs": 1,
    "x": 750,
    "y": 520,
    "wires": [
      [
        "5f708351cb98cb16"
      ]
    ]
  },
  {
    "id": "5f708351cb98cb16",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "if (msg.payload == \"error\") {\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 2,\n        \"temperature\": \"\"\n    };\n\n    return msg;\n\n} else {\n\n    var temp = '';\n    if (msg.payload[0] === 0 && msg.payload[1] === 0) {\n        temp = 0;\n    } else {\n        temp = parseFloat(Buffer.from(msg.payload[0] + msg.payload[1], \"hex\").readInt16BE(0)) / 10;\n    }\n\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 2,\n        \"temperature\": temp\n    };\n\n    return msg;\n\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 520,
    "wires": [
      [
        "ef62cc70051d59bd",
        "2c94294d1392aa6e"
      ]
    ]
  },
  {
    "id": "a6a213f9985023a6",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "sendBuffer",
    "func": "msg.payload = Buffer.from([0x00, 0x01, 0x00, 0x00, 0x00, 0x06, 0x03, 0x04, 0x00, 0x64, 0x00, 0x01]);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 620,
    "wires": [
      [
        "cd4599f605c1fd90"
      ]
    ]
  },
  {
    "id": "7ee509d6dbb27f53",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 34",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1480,
    "y": 600,
    "wires": []
  },
  {
    "id": "6c43a32919c2a2da",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "if (msg.payload == \"error\") {\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 3,\n        \"temperature\": \"\"\n    };\n\n    return msg;\n\n} else {\n\n    var temp = '';\n    if (msg.payload[0] === 0 && msg.payload[1] === 0) {\n        temp = 0;\n    } else {\n        temp = parseFloat(Buffer.from(msg.payload[0] + msg.payload[1], \"hex\").readInt16BE(0)) / 10;\n    }\n\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 3,\n        \"temperature\": temp\n    };\n\n    return msg;\n\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 620,
    "wires": [
      [
        "b84460289d798a50",
        "2694b028d863d368"
      ]
    ]
  },
  {
    "id": "54fb7c7b6cdda734",
    "type": "buffer-parser",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "hex",
        "name": "temp1",
        "offset": 9,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      },
      {
        "type": "hex",
        "name": "temp2",
        "offset": 10,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": false,
    "setTopic": true,
    "outputs": 1,
    "x": 750,
    "y": 620,
    "wires": [
      [
        "6c43a32919c2a2da"
      ]
    ]
  },
  {
    "id": "c789bc9ac385424a",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "sendBuffer",
    "func": "msg.payload = Buffer.from([0x00, 0x01, 0x00, 0x00, 0x00, 0x06, 0x04, 0x04, 0x00, 0x64, 0x00, 0x01]);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 720,
    "wires": [
      [
        "75915b520f8d0c99"
      ]
    ]
  },
  {
    "id": "70e15e7ba969b43f",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "sendBuffer",
    "func": "msg.payload = Buffer.from([0x00, 0x01, 0x00, 0x00, 0x00, 0x06, 0x05, 0x04, 0x00, 0x64, 0x00, 0x01]);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 820,
    "wires": [
      [
        "2e7c14a1d4eda2f8"
      ]
    ]
  },
  {
    "id": "f8cea5dee8f9f6e2",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "sendBuffer",
    "func": "msg.payload = Buffer.from([0x00, 0x01, 0x00, 0x00, 0x00, 0x06, 0x06, 0x04, 0x00, 0x64, 0x00, 0x01]);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 920,
    "wires": [
      [
        "0553c54fc68e39eb"
      ]
    ]
  },
  {
    "id": "06788d6a795efb85",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "sendBuffer",
    "func": "msg.payload = Buffer.from([0x00, 0x01, 0x00, 0x00, 0x00, 0x06, 0x07, 0x04, 0x00, 0x64, 0x00, 0x01]);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 1020,
    "wires": [
      [
        "ba417efe8e2632ab"
      ]
    ]
  },
  {
    "id": "b9a7dac110b21ab6",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "sendBuffer",
    "func": "msg.payload = Buffer.from([0x00, 0x01, 0x00, 0x00, 0x00, 0x06, 0x08, 0x04, 0x00, 0x64, 0x00, 0x01]);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 1120,
    "wires": [
      [
        "548656850f65a1e2"
      ]
    ]
  },
  {
    "id": "62aaf199628001de",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "sendBuffer",
    "func": "msg.payload = Buffer.from([0x00, 0x01, 0x00, 0x00, 0x00, 0x06, 0x09, 0x04, 0x00, 0x64, 0x00, 0x01]);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 1220,
    "wires": [
      [
        "54248ff3617f0fad"
      ]
    ]
  },
  {
    "id": "b15ae7b5f7b4bd22",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "sendBuffer",
    "func": "msg.payload = Buffer.from([0x00, 0x01, 0x00, 0x00, 0x00, 0x06, 0x0a, 0x04, 0x00, 0x64, 0x00, 0x01]);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 1320,
    "wires": [
      [
        "31d4b9d230eed3d8"
      ]
    ]
  },
  {
    "id": "fffe7b369e321a23",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "sendBuffer",
    "func": "msg.payload = Buffer.from([0x00, 0x01, 0x00, 0x00, 0x00, 0x06, 0x0b, 0x04, 0x00, 0x64, 0x00, 0x01]);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 1420,
    "wires": [
      [
        "473e7f39a429685d"
      ]
    ]
  },
  {
    "id": "3bc5360c00eb1814",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "sendBuffer",
    "func": "msg.payload = Buffer.from([0x00, 0x01, 0x00, 0x00, 0x00, 0x06, 0x0c, 0x04, 0x00, 0x64, 0x00, 0x01]);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 1520,
    "wires": [
      [
        "9dc4abe854a8359d"
      ]
    ]
  },
  {
    "id": "3c1cfdb7a395b26d",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "sendBuffer",
    "func": "msg.payload = Buffer.from([0x00, 0x01, 0x00, 0x00, 0x00, 0x06, 0x0d, 0x04, 0x00, 0x64, 0x00, 0x01]);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 1620,
    "wires": [
      [
        "b6800e6da4585611"
      ]
    ]
  },
  {
    "id": "5e633a5b440caae2",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "sendBuffer",
    "func": "msg.payload = Buffer.from([0x00, 0x01, 0x00, 0x00, 0x00, 0x06, 0x0e, 0x04, 0x00, 0x64, 0x00, 0x01]);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 1720,
    "wires": [
      [
        "1ac97f1f9f37bbf1"
      ]
    ]
  },
  {
    "id": "1eb92635d118fa1b",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 36",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1440,
    "y": 700,
    "wires": []
  },
  {
    "id": "3fef234375d157ca",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "if (msg.payload == \"error\") {\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 4,\n        \"temperature\": \"\"\n    };\n\n    return msg;\n\n} else {\n\n    var temp = '';\n    if (msg.payload[0] === 0 && msg.payload[1] === 0) {\n        temp = 0;\n    } else {\n        temp = parseFloat(Buffer.from(msg.payload[0] + msg.payload[1], \"hex\").readInt16BE(0)) / 10;\n    }\n\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 4,\n        \"temperature\": temp\n    };\n\n    return msg;\n\n}    ",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 720,
    "wires": [
      [
        "ca0274f261236147",
        "c2028c267824ddae"
      ]
    ]
  },
  {
    "id": "c2aade4e18f017b5",
    "type": "buffer-parser",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "hex",
        "name": "temp1",
        "offset": 9,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      },
      {
        "type": "hex",
        "name": "temp2",
        "offset": 10,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": false,
    "setTopic": true,
    "outputs": 1,
    "x": 750,
    "y": 720,
    "wires": [
      [
        "3fef234375d157ca"
      ]
    ]
  },
  {
    "id": "c64824de73a41e71",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 38",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1440,
    "y": 800,
    "wires": []
  },
  {
    "id": "6f80b513400db81a",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "if (msg.payload == \"error\") {\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 5,\n        \"temperature\": \"\"\n    };\n\n    return msg;\n\n} else {\n\n    var temp = '';\n    if (msg.payload[0] === 0 && msg.payload[1] === 0) {\n        temp = 0;\n    } else {\n        temp = parseFloat(Buffer.from(msg.payload[0] + msg.payload[1], \"hex\").readInt16BE(0)) / 10;\n    }\n\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 5,\n        \"temperature\": temp\n    };\n\n    return msg;\n\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 820,
    "wires": [
      [
        "2b6629eb176429de",
        "23b3517077fafd25"
      ]
    ]
  },
  {
    "id": "16fa7af32fe626ab",
    "type": "buffer-parser",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "hex",
        "name": "temp1",
        "offset": 9,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      },
      {
        "type": "hex",
        "name": "temp2",
        "offset": 10,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": false,
    "setTopic": true,
    "outputs": 1,
    "x": 750,
    "y": 820,
    "wires": [
      [
        "6f80b513400db81a"
      ]
    ]
  },
  {
    "id": "26380d6bab9cf63b",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 40",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1440,
    "y": 900,
    "wires": []
  },
  {
    "id": "d6aef336536b20df",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "if (msg.payload == \"error\") {\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 6,\n        \"temperature\": \"\"\n    };\n\n    return msg;\n\n} else {\n\n\n    var temp = '';\n    if (msg.payload[0] === 0 && msg.payload[1] === 0) {\n        temp = 0;\n    } else {\n        temp = parseFloat(Buffer.from(msg.payload[0] + msg.payload[1], \"hex\").readInt16BE(0)) / 10;\n    }\n\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 6,\n        \"temperature\": temp\n    };\n\n    return msg;\n\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 920,
    "wires": [
      [
        "40c6a39d0c19593d",
        "7dcc02d28d0b3f13"
      ]
    ]
  },
  {
    "id": "e60f66a8ddb48214",
    "type": "buffer-parser",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "hex",
        "name": "temp1",
        "offset": 9,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      },
      {
        "type": "hex",
        "name": "temp2",
        "offset": 10,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": false,
    "setTopic": true,
    "outputs": 1,
    "x": 750,
    "y": 920,
    "wires": [
      [
        "d6aef336536b20df"
      ]
    ]
  },
  {
    "id": "7d1b5dca96c6791d",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 42",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1440,
    "y": 1000,
    "wires": []
  },
  {
    "id": "b8e70548a80346a7",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "if (msg.payload == \"error\") {\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 7,\n        \"temperature\": \"\"\n    };\n\n    return msg;\n\n} else {\n\n    var temp = '';\n    if (msg.payload[0] === 0 && msg.payload[1] === 0) {\n        temp = 0;\n    } else {\n        temp = parseFloat(Buffer.from(msg.payload[0] + msg.payload[1], \"hex\").readInt16BE(0)) / 10;\n    }\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 7,\n        \"temperature\": temp\n    };\n\n    return msg;\n\n}\n ",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 1020,
    "wires": [
      [
        "030ad1fa3af8ad88",
        "fe977f0e0bb791a3"
      ]
    ]
  },
  {
    "id": "2118642a57006620",
    "type": "buffer-parser",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "hex",
        "name": "temp1",
        "offset": 9,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      },
      {
        "type": "hex",
        "name": "temp2",
        "offset": 10,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": false,
    "setTopic": true,
    "outputs": 1,
    "x": 750,
    "y": 1020,
    "wires": [
      [
        "b8e70548a80346a7"
      ]
    ]
  },
  {
    "id": "4671c139713e298c",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 44",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1440,
    "y": 1100,
    "wires": []
  },
  {
    "id": "1f22b4fb0ed37466",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "if (msg.payload == \"error\") {\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 8,\n        \"temperature\": \"\"\n    };\n\n    return msg;\n\n} else {\n\n    var temp = '';\n    if (msg.payload[0] === 0 && msg.payload[1] === 0) {\n        temp = 0;\n    } else {\n        temp = parseFloat(Buffer.from(msg.payload[0] + msg.payload[1], \"hex\").readInt16BE(0)) / 10;\n    }\n\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 8,\n        \"temperature\": temp\n    };\n\n    return msg;\n\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 1120,
    "wires": [
      [
        "f9c1d0410c137443",
        "15ceb71beff147a9"
      ]
    ]
  },
  {
    "id": "ded978568b8d5641",
    "type": "buffer-parser",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "hex",
        "name": "temp1",
        "offset": 9,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      },
      {
        "type": "hex",
        "name": "temp2",
        "offset": 10,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": false,
    "setTopic": true,
    "outputs": 1,
    "x": 750,
    "y": 1120,
    "wires": [
      [
        "1f22b4fb0ed37466"
      ]
    ]
  },
  {
    "id": "d32211d2050a07e5",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 46",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1440,
    "y": 1200,
    "wires": []
  },
  {
    "id": "3ad9c070d12bc81a",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "if (msg.payload == \"error\") {\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 9,\n        \"temperature\": \"\"\n    };\n\n    return msg;\n\n} else {\n\n    var temp = '';\n    if (msg.payload[0] === 0 && msg.payload[1] === 0) {\n        temp = 0;\n    } else {\n        temp = parseFloat(Buffer.from(msg.payload[0] + msg.payload[1], \"hex\").readInt16BE(0)) / 10;\n    }\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 9,\n        \"temperature\": temp\n    };\n\n    return msg;\n\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 1220,
    "wires": [
      [
        "6f0ad33ff85cc1d9",
        "85adc9388126b72e"
      ]
    ]
  },
  {
    "id": "45f2eee8fce5139b",
    "type": "buffer-parser",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "hex",
        "name": "temp1",
        "offset": 9,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      },
      {
        "type": "hex",
        "name": "temp2",
        "offset": 10,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": false,
    "setTopic": true,
    "outputs": 1,
    "x": 750,
    "y": 1220,
    "wires": [
      [
        "3ad9c070d12bc81a"
      ]
    ]
  },
  {
    "id": "cbc585fcde9df201",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 48",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1440,
    "y": 1300,
    "wires": []
  },
  {
    "id": "f1303370491b1e10",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "if (msg.payload == \"error\") {\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 10,\n        \"temperature\": \"\"\n    };\n\n    return msg;\n\n} else {\n\n    var temp = '';\n    if (msg.payload[0] === 0 && msg.payload[1] === 0) {\n        temp = 0;\n    } else {\n        temp = parseFloat(Buffer.from(msg.payload[0] + msg.payload[1], \"hex\").readInt16BE(0)) / 10;\n    }\n\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 10,\n        \"temperature\": temp\n    };\n\n    return msg;\n\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 1320,
    "wires": [
      [
        "9aa1bc66d2290fab",
        "b4ce320bd7071c9e"
      ]
    ]
  },
  {
    "id": "d176f5d809c2e121",
    "type": "buffer-parser",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "hex",
        "name": "temp1",
        "offset": 9,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      },
      {
        "type": "hex",
        "name": "temp2",
        "offset": 10,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": false,
    "setTopic": true,
    "outputs": 1,
    "x": 750,
    "y": 1320,
    "wires": [
      [
        "f1303370491b1e10"
      ]
    ]
  },
  {
    "id": "3e7012045655a484",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 50",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1440,
    "y": 1400,
    "wires": []
  },
  {
    "id": "e4aed155ae8a113d",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "if (msg.payload == \"error\") {\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 11,\n        \"temperature\": \"\"\n    };\n\n    return msg;\n\n} else {\n\n    var temp = '';\n    if (msg.payload[0] === 0 && msg.payload[1] === 0) {\n        temp = 0;\n    } else {\n        temp = parseFloat(Buffer.from(msg.payload[0] + msg.payload[1], \"hex\").readInt16BE(0)) / 10;\n    }\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 11,\n        \"temperature\": temp\n    };\n\n    return msg;\n\n}\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 1420,
    "wires": [
      [
        "013dbff87b90b408",
        "763998e7be0cc147"
      ]
    ]
  },
  {
    "id": "75a125267b69af16",
    "type": "buffer-parser",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "hex",
        "name": "temp1",
        "offset": 9,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      },
      {
        "type": "hex",
        "name": "temp2",
        "offset": 10,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": false,
    "setTopic": true,
    "outputs": 1,
    "x": 750,
    "y": 1420,
    "wires": [
      [
        "e4aed155ae8a113d"
      ]
    ]
  },
  {
    "id": "75ae048f64a49186",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 52",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1440,
    "y": 1500,
    "wires": []
  },
  {
    "id": "6b422954c47b9d11",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "if (msg.payload == \"error\") {\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 12,\n        \"temperature\": \"\"\n    };\n\n    return msg;\n\n} else {\n\n    var temp = '';\n    if (msg.payload[0] === 0 && msg.payload[1] === 0) {\n        temp = 0;\n    } else {\n        temp = parseFloat(Buffer.from(msg.payload[0] + msg.payload[1], \"hex\").readInt16BE(0)) / 10;\n    }\n\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 12,\n        \"temperature\": temp\n    };\n\n    return msg;\n\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 1520,
    "wires": [
      [
        "57420aef2a7e98fd",
        "2c5f27298436ab5d"
      ]
    ]
  },
  {
    "id": "8906ef8ef8e3b55f",
    "type": "buffer-parser",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "hex",
        "name": "temp1",
        "offset": 9,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      },
      {
        "type": "hex",
        "name": "temp2",
        "offset": 10,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": false,
    "setTopic": true,
    "outputs": 1,
    "x": 750,
    "y": 1520,
    "wires": [
      [
        "6b422954c47b9d11"
      ]
    ]
  },
  {
    "id": "536e30bc9a133ced",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 54",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1440,
    "y": 1600,
    "wires": []
  },
  {
    "id": "2a4a11af822467ec",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "if (msg.payload == \"error\") {\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 13,\n        \"temperature\": \"\"\n    };\n\n    return msg;\n\n} else {\n\n    var temp = '';\n    if (msg.payload[0] === 0 && msg.payload[1] === 0) {\n        temp = 0;\n    } else {\n        temp = parseFloat(Buffer.from(msg.payload[0] + msg.payload[1], \"hex\").readInt16BE(0)) / 10;\n    }\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 13,\n        \"temperature\": temp\n    };\n\n    return msg;\n\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 1620,
    "wires": [
      [
        "6f474a69c54bcf7c"
      ]
    ]
  },
  {
    "id": "0c2740496b27fbf7",
    "type": "buffer-parser",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "hex",
        "name": "temp1",
        "offset": 9,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      },
      {
        "type": "hex",
        "name": "temp2",
        "offset": 10,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": false,
    "setTopic": true,
    "outputs": 1,
    "x": 750,
    "y": 1620,
    "wires": [
      [
        "2a4a11af822467ec"
      ]
    ]
  },
  {
    "id": "1a50e52790aae731",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 56",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 1440,
    "y": 1700,
    "wires": []
  },
  {
    "id": "9b4b278bb42c38f1",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "if (msg.payload == \"error\") {\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 14,\n        \"temperature\": \"\"\n    };\n\n    return msg;\n\n} else {\n\n    var temp = '';\n    if (msg.payload[0] === 0 && msg.payload[1] === 0) {\n        temp = 0;\n    } else {\n        temp = parseFloat(Buffer.from(msg.payload[0] + msg.payload[1], \"hex\").readInt16BE(0)) / 10;\n    }\n\n    msg.headers = {\n        \"content-type\": \"application/json\",\n        \"Accept\": \"application/json\"\n    };\n\n    msg.payload = {\n        \"ccode\": \"0060\",\n        \"kind\": 4,\n        \"deviceId\": 14,\n        \"temperature\": temp\n    };\n\n    return msg;\n\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 930,
    "y": 1720,
    "wires": [
      [
        "63374ebc5d49510b"
      ]
    ]
  },
  {
    "id": "85a36505b6c61362",
    "type": "buffer-parser",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "hex",
        "name": "temp1",
        "offset": 9,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      },
      {
        "type": "hex",
        "name": "temp2",
        "offset": 10,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": false,
    "setTopic": true,
    "outputs": 1,
    "x": 750,
    "y": 1720,
    "wires": [
      [
        "9b4b278bb42c38f1"
      ]
    ]
  },
  {
    "id": "e954414d113d3f52",
    "type": "http request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0060/get_temperature",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 400,
    "wires": [
      [
        "99d995e241feb167"
      ]
    ]
  },
  {
    "id": "d417dca1afd3a378",
    "type": "http request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0060/get_temperature",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 500,
    "wires": [
      [
        "5b48eb06cd3dee63"
      ]
    ]
  },
  {
    "id": "73e79c38ed86e746",
    "type": "http request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0060/get_temperature",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 600,
    "wires": [
      [
        "7ee509d6dbb27f53"
      ]
    ]
  },
  {
    "id": "88fe9b366fe938b5",
    "type": "http request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0060/get_temperature",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 700,
    "wires": [
      [
        "1eb92635d118fa1b"
      ]
    ]
  },
  {
    "id": "eea26fd54ebfb8e6",
    "type": "http request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0060/get_temperature",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 800,
    "wires": [
      [
        "c64824de73a41e71"
      ]
    ]
  },
  {
    "id": "9cba92188f776cfc",
    "type": "http request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0060/get_temperature",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 900,
    "wires": [
      [
        "26380d6bab9cf63b"
      ]
    ]
  },
  {
    "id": "beab16879a6e0465",
    "type": "http request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0060/get_temperature",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 1000,
    "wires": [
      [
        "7d1b5dca96c6791d"
      ]
    ]
  },
  {
    "id": "8e5dab13e94a3312",
    "type": "http request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0060/get_temperature",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 1100,
    "wires": [
      [
        "4671c139713e298c"
      ]
    ]
  },
  {
    "id": "a7f6b3554ed669ef",
    "type": "http request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0060/get_temperature",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 1200,
    "wires": [
      [
        "d32211d2050a07e5"
      ]
    ]
  },
  {
    "id": "c93a74167d4cee5b",
    "type": "http request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0060/get_temperature",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 1300,
    "wires": [
      [
        "cbc585fcde9df201"
      ]
    ]
  },
  {
    "id": "119c84d55fed840c",
    "type": "http request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0060/get_temperature",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 1400,
    "wires": [
      [
        "3e7012045655a484"
      ]
    ]
  },
  {
    "id": "1c6909290039a0b5",
    "type": "http request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0060/get_temperature",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 1500,
    "wires": [
      [
        "75ae048f64a49186"
      ]
    ]
  },
  {
    "id": "8f68ce796482b5be",
    "type": "http request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0060/get_temperature",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 1600,
    "wires": [
      [
        "536e30bc9a133ced"
      ]
    ]
  },
  {
    "id": "90dcbda5cca1f748",
    "type": "http request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0060/get_temperature",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 1700,
    "wires": [
      [
        "1a50e52790aae731"
      ]
    ]
  },
  {
    "id": "d81ac7dd74851a1a",
    "type": "inject",
    "z": "ab1b68cca4833bc7",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 620,
    "wires": [
      [
        "a6a213f9985023a6"
      ]
    ]
  },
  {
    "id": "0b2e2d540b9efc73",
    "type": "inject",
    "z": "ab1b68cca4833bc7",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 720,
    "wires": [
      [
        "c789bc9ac385424a"
      ]
    ]
  },
  {
    "id": "0ab3557a7c6d770a",
    "type": "inject",
    "z": "ab1b68cca4833bc7",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 820,
    "wires": [
      [
        "70e15e7ba969b43f"
      ]
    ]
  },
  {
    "id": "1b462ea73ad4229c",
    "type": "inject",
    "z": "ab1b68cca4833bc7",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 920,
    "wires": [
      [
        "f8cea5dee8f9f6e2"
      ]
    ]
  },
  {
    "id": "eca12ebd78f18654",
    "type": "inject",
    "z": "ab1b68cca4833bc7",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 1020,
    "wires": [
      [
        "06788d6a795efb85"
      ]
    ]
  },
  {
    "id": "8c825c2464a120a5",
    "type": "inject",
    "z": "ab1b68cca4833bc7",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 1120,
    "wires": [
      [
        "b9a7dac110b21ab6"
      ]
    ]
  },
  {
    "id": "1a76e33958ed51f6",
    "type": "inject",
    "z": "ab1b68cca4833bc7",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 1220,
    "wires": [
      [
        "62aaf199628001de"
      ]
    ]
  },
  {
    "id": "cfd16d464cc17939",
    "type": "inject",
    "z": "ab1b68cca4833bc7",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 1320,
    "wires": [
      [
        "b15ae7b5f7b4bd22"
      ]
    ]
  },
  {
    "id": "b8e6b73dc3b32066",
    "type": "inject",
    "z": "ab1b68cca4833bc7",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 1420,
    "wires": [
      [
        "fffe7b369e321a23"
      ]
    ]
  },
  {
    "id": "2047aed68bfdd96a",
    "type": "inject",
    "z": "ab1b68cca4833bc7",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 1520,
    "wires": [
      [
        "3bc5360c00eb1814"
      ]
    ]
  },
  {
    "id": "a4db10ffc953e71f",
    "type": "inject",
    "z": "ab1b68cca4833bc7",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 1620,
    "wires": [
      [
        "3c1cfdb7a395b26d"
      ]
    ]
  },
  {
    "id": "f3684032aaa70a34",
    "type": "inject",
    "z": "ab1b68cca4833bc7",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 1720,
    "wires": [
      [
        "5e633a5b440caae2"
      ]
    ]
  },
  {
    "id": "7c110ad65da4eaf5",
    "type": "comment",
    "z": "ab1b68cca4833bc7",
    "name": "CAS 전자저울",
    "info": "",
    "x": 90,
    "y": 1800,
    "wires": []
  },
  {
    "id": "3aaa3340942874c0",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "sendBuffer Ready",
    "func": "msg.payload = Buffer.from(\"05\", \"hex\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 330,
    "y": 1840,
    "wires": [
      [
        "837b5caa4c2abeb0"
      ]
    ]
  },
  {
    "id": "2a9373f6f2f9dc8f",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "sendBuffer Read",
    "func": "msg.payload = Buffer.from(\"11\", \"hex\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 310,
    "y": 1920,
    "wires": [
      [
        "a86ac57d6e1d1eb1"
      ]
    ]
  },
  {
    "id": "837b5caa4c2abeb0",
    "type": "tcp request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "server": "192.168.222.234",
    "port": "5004",
    "out": "time",
    "ret": "string",
    "splitc": "200",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 570,
    "y": 1840,
    "wires": [
      [
        "6f69d799606d5bc1",
        "98b9f7b544486b4c"
      ]
    ]
  },
  {
    "id": "a86ac57d6e1d1eb1",
    "type": "tcp request",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "server": "192.168.222.234",
    "port": "5004",
    "out": "time",
    "ret": "string",
    "splitc": "200",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 550,
    "y": 1920,
    "wires": [
      [
        "7af7659d7d1388cd",
        "a9faf733da86f37a"
      ]
    ]
  },
  {
    "id": "4c0b65fb3043e9d0",
    "type": "inject",
    "z": "ab1b68cca4833bc7",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 1840,
    "wires": [
      [
        "3aaa3340942874c0"
      ]
    ]
  },
  {
    "id": "6f69d799606d5bc1",
    "type": "delay",
    "z": "ab1b68cca4833bc7",
    "name": "delay 0.1 sec",
    "pauseType": "delay",
    "timeout": "0.1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 110,
    "y": 1920,
    "wires": [
      [
        "2a9373f6f2f9dc8f"
      ]
    ]
  },
  {
    "id": "98b9f7b544486b4c",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 57",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 780,
    "y": 1840,
    "wires": []
  },
  {
    "id": "7af7659d7d1388cd",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 58",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 760,
    "y": 1940,
    "wires": []
  },
  {
    "id": "a9faf733da86f37a",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "var outputMsgs = [];\nvar words = msg.payload.split(\" \");\nmsg.payload = outputMsgs;\n\nfor (var w in words) {\n    outputMsgs.push({ payload: words[w] });\n}\n\nreturn [outputMsgs];",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 770,
    "y": 1900,
    "wires": [
      [
        "1be4fdf343745e78"
      ]
    ]
  },
  {
    "id": "1be4fdf343745e78",
    "type": "switch",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "kg",
        "vt": "str"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 930,
    "y": 1900,
    "wires": [
      [
        "813a82bc5ea0cf18"
      ]
    ]
  },
  {
    "id": "813a82bc5ea0cf18",
    "type": "switch",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {
        "t": "cont",
        "v": "0.00",
        "vt": "str"
      },
      {
        "t": "else"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 1070,
    "y": 1900,
    "wires": [
      [],
      [
        "5ede2e1bd2d4704d"
      ]
    ]
  },
  {
    "id": "3d4f55ac8baf3853",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 59",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1260,
    "y": 1940,
    "wires": []
  },
  {
    "id": "5ede2e1bd2d4704d",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "parseData",
    "func": "var weight = parseFloat(msg.payload);\n\nmsg.headers = {\n    \"content-type\": \"application/json\",\n    \"Accept\": \"application/json\"\n};\n\nmsg.payload = {\n    \"ccode\": \"0060\",\n    \"weight\": weight\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1230,
    "y": 1900,
    "wires": [
      [
        "3d4f55ac8baf3853"
      ]
    ]
  },
  {
    "id": "5439c091914cae89",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 60",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1260,
    "y": 440,
    "wires": []
  },
  {
    "id": "ef62cc70051d59bd",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 61",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1260,
    "y": 540,
    "wires": []
  },
  {
    "id": "b84460289d798a50",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 62",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1260,
    "y": 640,
    "wires": []
  },
  {
    "id": "ca0274f261236147",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 63",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1260,
    "y": 740,
    "wires": []
  },
  {
    "id": "2b6629eb176429de",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 64",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1260,
    "y": 840,
    "wires": []
  },
  {
    "id": "40c6a39d0c19593d",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 65",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1260,
    "y": 940,
    "wires": []
  },
  {
    "id": "030ad1fa3af8ad88",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 66",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1260,
    "y": 1040,
    "wires": []
  },
  {
    "id": "f9c1d0410c137443",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 67",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1260,
    "y": 1140,
    "wires": []
  },
  {
    "id": "6f0ad33ff85cc1d9",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 68",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1260,
    "y": 1240,
    "wires": []
  },
  {
    "id": "9aa1bc66d2290fab",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 69",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1260,
    "y": 1340,
    "wires": []
  },
  {
    "id": "013dbff87b90b408",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 70",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1260,
    "y": 1440,
    "wires": []
  },
  {
    "id": "57420aef2a7e98fd",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 71",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1259,
    "y": 1543,
    "wires": []
  },
  {
    "id": "f608b80ff61e2d31",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 72",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1260,
    "y": 1640,
    "wires": []
  },
  {
    "id": "1da12e964f5da2fc",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 73",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 1020,
    "y": 1800,
    "wires": []
  },
  {
    "id": "e9302ef9f1bfa9bb",
    "type": "catch",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "scope": [
      "1ac97f1f9f37bbf1"
    ],
    "uncaught": false,
    "x": 550,
    "y": 1760,
    "wires": [
      [
        "42cfcb9ba120bab4"
      ]
    ]
  },
  {
    "id": "42cfcb9ba120bab4",
    "type": "change",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 1760,
    "wires": [
      [
        "9b4b278bb42c38f1"
      ]
    ]
  },
  {
    "id": "38de5bbe6f9517c4",
    "type": "catch",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "scope": [
      "b6800e6da4585611"
    ],
    "uncaught": false,
    "x": 550,
    "y": 1660,
    "wires": [
      [
        "d82a0b1b1f3ce6da"
      ]
    ]
  },
  {
    "id": "d82a0b1b1f3ce6da",
    "type": "change",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 1660,
    "wires": [
      [
        "2a4a11af822467ec"
      ]
    ]
  },
  {
    "id": "c2d0e97fa5cb3c70",
    "type": "catch",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "scope": [
      "9dc4abe854a8359d"
    ],
    "uncaught": false,
    "x": 550,
    "y": 1560,
    "wires": [
      [
        "5b621760a813d92e"
      ]
    ]
  },
  {
    "id": "5b621760a813d92e",
    "type": "change",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 1560,
    "wires": [
      [
        "6b422954c47b9d11"
      ]
    ]
  },
  {
    "id": "46554af3b136e4a6",
    "type": "catch",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "scope": [
      "473e7f39a429685d"
    ],
    "uncaught": false,
    "x": 550,
    "y": 1460,
    "wires": [
      [
        "acf17d96ace4cbc0"
      ]
    ]
  },
  {
    "id": "acf17d96ace4cbc0",
    "type": "change",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 1460,
    "wires": [
      [
        "e4aed155ae8a113d"
      ]
    ]
  },
  {
    "id": "dfd9806f10485831",
    "type": "catch",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "scope": [
      "31d4b9d230eed3d8"
    ],
    "uncaught": false,
    "x": 550,
    "y": 1360,
    "wires": [
      [
        "26ad793c6537596c"
      ]
    ]
  },
  {
    "id": "26ad793c6537596c",
    "type": "change",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 1360,
    "wires": [
      [
        "f1303370491b1e10"
      ]
    ]
  },
  {
    "id": "96d1164004d55c5d",
    "type": "catch",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "scope": [
      "54248ff3617f0fad"
    ],
    "uncaught": false,
    "x": 550,
    "y": 1260,
    "wires": [
      [
        "7f3d5ad73c358671"
      ]
    ]
  },
  {
    "id": "7f3d5ad73c358671",
    "type": "change",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 1260,
    "wires": [
      [
        "3ad9c070d12bc81a"
      ]
    ]
  },
  {
    "id": "96f338785f7012d3",
    "type": "catch",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "scope": [
      "548656850f65a1e2"
    ],
    "uncaught": false,
    "x": 550,
    "y": 1160,
    "wires": [
      [
        "b1878b4a19ff6c41"
      ]
    ]
  },
  {
    "id": "b1878b4a19ff6c41",
    "type": "change",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 1160,
    "wires": [
      [
        "1f22b4fb0ed37466"
      ]
    ]
  },
  {
    "id": "c28a849312777896",
    "type": "catch",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "scope": [
      "ba417efe8e2632ab"
    ],
    "uncaught": false,
    "x": 550,
    "y": 1060,
    "wires": [
      [
        "6bc05005f6ad0d4b"
      ]
    ]
  },
  {
    "id": "6bc05005f6ad0d4b",
    "type": "change",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 1060,
    "wires": [
      [
        "b8e70548a80346a7"
      ]
    ]
  },
  {
    "id": "55e41bbb126cdddc",
    "type": "catch",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "scope": [
      "0553c54fc68e39eb"
    ],
    "uncaught": false,
    "x": 550,
    "y": 960,
    "wires": [
      [
        "19ccdddc94138e65"
      ]
    ]
  },
  {
    "id": "19ccdddc94138e65",
    "type": "change",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 960,
    "wires": [
      [
        "d6aef336536b20df"
      ]
    ]
  },
  {
    "id": "c785ebbc1e40f63a",
    "type": "catch",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "scope": [
      "2e7c14a1d4eda2f8"
    ],
    "uncaught": false,
    "x": 550,
    "y": 860,
    "wires": [
      [
        "fc74b0545e030d33"
      ]
    ]
  },
  {
    "id": "fc74b0545e030d33",
    "type": "change",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 860,
    "wires": [
      [
        "6f80b513400db81a"
      ]
    ]
  },
  {
    "id": "fa43dd7cab452e7e",
    "type": "catch",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "scope": [
      "75915b520f8d0c99"
    ],
    "uncaught": false,
    "x": 550,
    "y": 760,
    "wires": [
      [
        "f274dd360b81334c"
      ]
    ]
  },
  {
    "id": "f274dd360b81334c",
    "type": "change",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 760,
    "wires": [
      [
        "3fef234375d157ca"
      ]
    ]
  },
  {
    "id": "66eef64dd64d4435",
    "type": "catch",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "scope": [
      "cd4599f605c1fd90"
    ],
    "uncaught": false,
    "x": 550,
    "y": 660,
    "wires": [
      [
        "de6972febfe76186"
      ]
    ]
  },
  {
    "id": "de6972febfe76186",
    "type": "change",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 660,
    "wires": [
      [
        "6c43a32919c2a2da"
      ]
    ]
  },
  {
    "id": "ed1985473dac85e9",
    "type": "catch",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "scope": [
      "687484e426cbd009"
    ],
    "uncaught": false,
    "x": 550,
    "y": 560,
    "wires": [
      [
        "cca8d1870cb8fccf"
      ]
    ]
  },
  {
    "id": "cca8d1870cb8fccf",
    "type": "change",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 560,
    "wires": [
      [
        "5f708351cb98cb16"
      ]
    ]
  },
  {
    "id": "d9991b1bdb5d50db",
    "type": "catch",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "scope": [
      "eab0b04074bc3679"
    ],
    "uncaught": false,
    "x": 550,
    "y": 460,
    "wires": [
      [
        "8604457761c7e23d"
      ]
    ]
  },
  {
    "id": "8604457761c7e23d",
    "type": "change",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "error",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 740,
    "y": 460,
    "wires": [
      [
        "0a3f728f05a2b47c"
      ]
    ]
  },
  {
    "id": "2c94294d1392aa6e",
    "type": "delay",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "pauseType": "delay",
    "timeout": "0.4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1090,
    "y": 500,
    "wires": [
      [
        "d417dca1afd3a378"
      ]
    ]
  },
  {
    "id": "938fc7b51a92e199",
    "type": "delay",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "pauseType": "delay",
    "timeout": "0.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1090,
    "y": 400,
    "wires": [
      [
        "e954414d113d3f52"
      ]
    ]
  },
  {
    "id": "2694b028d863d368",
    "type": "delay",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "pauseType": "delay",
    "timeout": "0.6",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1110,
    "y": 600,
    "wires": [
      [
        "73e79c38ed86e746"
      ]
    ]
  },
  {
    "id": "c2028c267824ddae",
    "type": "delay",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "pauseType": "delay",
    "timeout": "0.8",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1110,
    "y": 700,
    "wires": [
      [
        "88fe9b366fe938b5"
      ]
    ]
  },
  {
    "id": "23b3517077fafd25",
    "type": "delay",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "pauseType": "delay",
    "timeout": "1",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1100,
    "y": 800,
    "wires": [
      [
        "eea26fd54ebfb8e6"
      ]
    ]
  },
  {
    "id": "7dcc02d28d0b3f13",
    "type": "delay",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "pauseType": "delay",
    "timeout": "1.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1110,
    "y": 900,
    "wires": [
      [
        "9cba92188f776cfc"
      ]
    ]
  },
  {
    "id": "fe977f0e0bb791a3",
    "type": "delay",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "pauseType": "delay",
    "timeout": "1.4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1110,
    "y": 1000,
    "wires": [
      [
        "beab16879a6e0465"
      ]
    ]
  },
  {
    "id": "15ceb71beff147a9",
    "type": "delay",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "pauseType": "delay",
    "timeout": "1.6",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1110,
    "y": 1100,
    "wires": [
      [
        "8e5dab13e94a3312"
      ]
    ]
  },
  {
    "id": "85adc9388126b72e",
    "type": "delay",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "pauseType": "delay",
    "timeout": "1.8",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1110,
    "y": 1200,
    "wires": [
      [
        "a7f6b3554ed669ef"
      ]
    ]
  },
  {
    "id": "b4ce320bd7071c9e",
    "type": "delay",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "pauseType": "delay",
    "timeout": "2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1100,
    "y": 1300,
    "wires": [
      [
        "c93a74167d4cee5b"
      ]
    ]
  },
  {
    "id": "763998e7be0cc147",
    "type": "delay",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "pauseType": "delay",
    "timeout": "2.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1110,
    "y": 1400,
    "wires": [
      [
        "119c84d55fed840c"
      ]
    ]
  },
  {
    "id": "2c5f27298436ab5d",
    "type": "delay",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "pauseType": "delay",
    "timeout": "2.4",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1110,
    "y": 1500,
    "wires": [
      [
        "1c6909290039a0b5"
      ]
    ]
  },
  {
    "id": "6f474a69c54bcf7c",
    "type": "delay",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "pauseType": "delay",
    "timeout": "2.6",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1110,
    "y": 1600,
    "wires": [
      [
        "8f68ce796482b5be"
      ]
    ]
  },
  {
    "id": "63374ebc5d49510b",
    "type": "delay",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "pauseType": "delay",
    "timeout": "2.8",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 1110,
    "y": 1700,
    "wires": [
      [
        "90dcbda5cca1f748"
      ]
    ]
  },
  {
    "id": "4847265fbdd8fe6d",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 74",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 280,
    "y": 320,
    "wires": []
  },
  {
    "id": "28117bfb20c7f01d",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 75",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 280,
    "y": 220,
    "wires": []
  },
  {
    "id": "5d26b51a4619a186",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 76",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 280,
    "y": 120,
    "wires": []
  },
  {
    "id": "9eea9635ccbe27e3",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "function 1",
    "func": "var res = msg.payload;\nvar time = getCurrentTime();\n\nmsg.payload = {\n    'data': res,\n    'time': time,\n};\nreturn msg;\n\n\n\nfunction getCurrentTime() {\n    const now = new Date();\n\n    const year = now.getFullYear();\n    const month = String(now.getMonth() + 1).padStart(2, '0');\n    const day = String(now.getDate()).padStart(2, '0');\n    const hours = String(now.getHours()).padStart(2, '0');\n    const minutes = String(now.getMinutes()).padStart(2, '0');\n    const seconds = String(now.getSeconds()).padStart(2, '0');\n\n    const currentTime = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n    return currentTime;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 120,
    "wires": [
      [
        "e1dbd6d12471b1d3"
      ]
    ]
  },
  {
    "id": "e1dbd6d12471b1d3",
    "type": "file",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "filename": "C:\\fzone\\mddh\\detector1.txt",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 820,
    "y": 120,
    "wires": [
      []
    ]
  },
  {
    "id": "031c51710f967d65",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "function 2",
    "func": "var res = msg.payload;\nvar time = getCurrentTime();\n\nmsg.payload = {\n    'data': res,\n    'time': time,\n};\nreturn msg;\n\n\n\nfunction getCurrentTime() {\n    const now = new Date();\n\n    const year = now.getFullYear();\n    const month = String(now.getMonth() + 1).padStart(2, '0');\n    const day = String(now.getDate()).padStart(2, '0');\n    const hours = String(now.getHours()).padStart(2, '0');\n    const minutes = String(now.getMinutes()).padStart(2, '0');\n    const seconds = String(now.getSeconds()).padStart(2, '0');\n\n    const currentTime = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n    return currentTime;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 240,
    "wires": [
      [
        "42feb2ea51f2adb0"
      ]
    ]
  },
  {
    "id": "42feb2ea51f2adb0",
    "type": "file",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "filename": "C:\\fzone\\mddh\\detector2.txt",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 820,
    "y": 240,
    "wires": [
      []
    ]
  },
  {
    "id": "de1c9c7bfec5fdc8",
    "type": "function",
    "z": "ab1b68cca4833bc7",
    "name": "function 3",
    "func": "var res = msg.payload;\nvar time = getCurrentTime();\n\nmsg.payload = {\n    'data': res,\n    'time': time,\n};\nreturn msg;\n\n\n\nfunction getCurrentTime() {\n    const now = new Date();\n\n    const year = now.getFullYear();\n    const month = String(now.getMonth() + 1).padStart(2, '0');\n    const day = String(now.getDate()).padStart(2, '0');\n    const hours = String(now.getHours()).padStart(2, '0');\n    const minutes = String(now.getMinutes()).padStart(2, '0');\n    const seconds = String(now.getSeconds()).padStart(2, '0');\n\n    const currentTime = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;\n    return currentTime;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 620,
    "y": 340,
    "wires": [
      [
        "13eeae5067625166"
      ]
    ]
  },
  {
    "id": "13eeae5067625166",
    "type": "file",
    "z": "ab1b68cca4833bc7",
    "name": "",
    "filename": "C:\\fzone\\mddh\\detector3.txt",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "none",
    "x": 820,
    "y": 340,
    "wires": [
      []
    ]
  },
  {
    "id": "341bafdbd666cc2d",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 77",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 1800,
    "wires": []
  },
  {
    "id": "4489b00480634296",
    "type": "debug",
    "z": "ab1b68cca4833bc7",
    "name": "debug 78",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1100,
    "y": 300,
    "wires": []
  }
]