0063_node-red_flows.json
[
  {
    "id": "71aaba71cce9c427",
    "type": "tab",
    "label": "플로우 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "ec287ee065fe247c",
    "type": "modbus-client",
    "name": "",
    "clienttype": "simpleser",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "127.0.0.1",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "COM7",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true,
    "showWarnings": true,
    "showLogs": true
  },
  {
    "id": "5904de5649bf46eb",
    "type": "MySQLdatabase",
    "name": "",
    "host": "127.0.0.1",
    "port": "3306",
    "db": "fz_shm",
    "tz": "",
    "charset": "UTF8"
  },
  {
    "id": "a4e408c03b2c2e8f",
    "type": "inject",
    "z": "71aaba71cce9c427",
    "name": "Loop 1 Minute",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 100,
    "wires": [
      [
        "561e697e95310621"
      ]
    ]
  },
  {
    "id": "c4416050754c797f",
    "type": "comment",
    "z": "71aaba71cce9c427",
    "name": "XR10 (1~2)",
    "info": "",
    "x": 90,
    "y": 60,
    "wires": []
  },
  {
    "id": "ad6c02ae8accaff0",
    "type": "delay",
    "z": "71aaba71cce9c427",
    "name": "0.2",
    "pauseType": "delay",
    "timeout": "0.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 230,
    "y": 200,
    "wires": [
      [
        "1e1b538f43576b10"
      ]
    ]
  },
  {
    "id": "55daa5d40673ad8b",
    "type": "delay",
    "z": "71aaba71cce9c427",
    "name": "0.2",
    "pauseType": "delay",
    "timeout": "0.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 230,
    "y": 160,
    "wires": [
      [
        "3b33d78e8ce57481",
        "1e1b538f43576b10"
      ]
    ]
  },
  {
    "id": "730b815e66188856",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug for TCs",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 800,
    "y": 280,
    "wires": []
  },
  {
    "id": "54c9f93776a09746",
    "type": "http request",
    "z": "71aaba71cce9c427",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0063/get_temperature",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 610,
    "y": 280,
    "wires": [
      [
        "730b815e66188856"
      ]
    ]
  },
  {
    "id": "bf96f88cdf4fcf67",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "send api",
    "func": "//현재 온도 (음수 표현은 buffer parser에서 수정 조치, INT 16BE 필요)\nvar curTemp = parseFloat(msg.payload) / 10;\n\n//장치 국번\nvar unitid = msg.unitId;\n\nmsg.headers = {};\nmsg.headers['content-type'] = \"application/json\";\nmsg.headers['Accept'] = \"application/json\";\n\nmsg.payload = {\n    \"ccode\": \"0063\",\n    \"kind\": \"4\",\n    \"deviceId\": unitid,\n    \"temperature\": curTemp,\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 240,
    "wires": [
      [
        "54c9f93776a09746",
        "bc082abcc8fc210c"
      ]
    ]
  },
  {
    "id": "bc082abcc8fc210c",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug for TCs",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 620,
    "y": 220,
    "wires": []
  },
  {
    "id": "561e697e95310621",
    "type": "modbus-getter",
    "z": "71aaba71cce9c427",
    "name": "1",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "logIOActivities": false,
    "unitid": "1",
    "dataType": "InputRegister",
    "adr": "100",
    "quantity": "1",
    "server": "ec287ee065fe247c",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 110,
    "y": 160,
    "wires": [
      [
        "55daa5d40673ad8b"
      ],
      []
    ]
  },
  {
    "id": "3b33d78e8ce57481",
    "type": "modbus-getter",
    "z": "71aaba71cce9c427",
    "name": "2",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "logIOActivities": false,
    "unitid": "2",
    "dataType": "InputRegister",
    "adr": "100",
    "quantity": "1",
    "server": "ec287ee065fe247c",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 110,
    "y": 200,
    "wires": [
      [
        "ad6c02ae8accaff0"
      ],
      []
    ]
  },
  {
    "id": "1e1b538f43576b10",
    "type": "buffer-parser",
    "z": "71aaba71cce9c427",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "int16be",
        "name": "item1",
        "offset": 0,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": false,
    "setTopic": true,
    "outputs": 1,
    "x": 430,
    "y": 180,
    "wires": [
      [
        "bf96f88cdf4fcf67"
      ]
    ]
  },
  {
    "id": "ac59dfb48a32729f",
    "type": "inject",
    "z": "71aaba71cce9c427",
    "name": "10초",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 90,
    "y": 860,
    "wires": [
      [
        "761afa3123142970"
      ]
    ]
  },
  {
    "id": "761afa3123142970",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "select query",
    "func": "msg.topic = \"SELECT * FROM fztable ORDER BY date DESC LIMIT 1\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 250,
    "y": 860,
    "wires": [
      [
        "ca0ae599a19aa5ba"
      ]
    ]
  },
  {
    "id": "ca0ae599a19aa5ba",
    "type": "mysql",
    "z": "71aaba71cce9c427",
    "mydb": "5904de5649bf46eb",
    "name": "",
    "x": 420,
    "y": 860,
    "wires": [
      [
        "c3c495ddd1578233"
      ]
    ]
  },
  {
    "id": "b219b0224c310a2e",
    "type": "comment",
    "z": "71aaba71cce9c427",
    "name": "세척기(라즈베리파이)",
    "info": "",
    "x": 120,
    "y": 820,
    "wires": []
  },
  {
    "id": "c3c495ddd1578233",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "send api",
    "func": "//현재 온도 (음수 표현은 buffer parser에서 수정 조치, INT 16BE 필요)\nvar current_value = msg.payload;\n\nvar temp1 = current_value[0].temp1;\nvar temp2 = current_value[0].temp2;\nvar rpm = current_value[0].RPM;\nvar date = current_value[0].date;\n\n\nmsg.headers = {};\nmsg.headers['content-type'] = \"application/json\";\nmsg.headers['Accept'] = \"application/json\";\n\n\nmsg.payload = {\n    \"ccode\": \"0063\",\n    \"scode\": \"91\",\n    \"temp1\": temp1,\n    \"temp2\": temp2,\n    \"rpm\": rpm\n};\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 860,
    "wires": [
      [
        "9fe0085f6834419d",
        "07245c37bc633a61"
      ]
    ]
  },
  {
    "id": "9fe0085f6834419d",
    "type": "http request",
    "z": "71aaba71cce9c427",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0063/get_cleanser",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 750,
    "y": 880,
    "wires": [
      [
        "abc91bf6ef1f0b88"
      ]
    ]
  },
  {
    "id": "abc91bf6ef1f0b88",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 880,
    "wires": []
  },
  {
    "id": "07245c37bc633a61",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 840,
    "wires": []
  },
  {
    "id": "9f6597207b6f8faf",
    "type": "comment",
    "z": "71aaba71cce9c427",
    "name": "조도센서_1",
    "info": "장치 : BCON-TRM200\n수집 데이터 : 습도, CO2, 조도",
    "x": 90,
    "y": 380,
    "wires": []
  },
  {
    "id": "fa7d5987c215d4ce",
    "type": "inject",
    "z": "71aaba71cce9c427",
    "name": "10분",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "600",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 90,
    "y": 420,
    "wires": [
      [
        "8418cd0526220285"
      ]
    ]
  },
  {
    "id": "8418cd0526220285",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "select query",
    "func": "msg.topic = 'SELECT * FROM dtu1 WHERE (date BETWEEN date_add(now(), interval -60 second) AND now()) ORDER BY date DESC LIMIT 1';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 250,
    "y": 420,
    "wires": [
      [
        "a1297ec49a119065"
      ]
    ]
  },
  {
    "id": "a1297ec49a119065",
    "type": "mysql",
    "z": "71aaba71cce9c427",
    "mydb": "5904de5649bf46eb",
    "name": "",
    "x": 420,
    "y": 420,
    "wires": [
      [
        "f6224e6cdc27cb6a"
      ]
    ]
  },
  {
    "id": "f6224e6cdc27cb6a",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "send api",
    "func": "let temp = msg.payload[0].value3;   // 온도\ntemp = temp / 10;\nlet humid = msg.payload[0].value4;  // 습도\nhumid = humid / 10;\nlet co2 = msg.payload[0].value2;    // 이산화탄소\nlet lux = msg.payload[0].value5;    // 조도\nlet dateTime = msg.payload[0].date; // 날짜시간\n\n\nmsg.headers = {};\nmsg.headers['content-type'] = \"application/json\";\nmsg.headers['Accept'] = \"application/json\";\n\n\nmsg.payload = {\n    \"ccode\": \"0063\",\n    \"scode\": \"73\",\n    \"kind\": \"5\",\n    \"deviceId\": \"1\",\n    \"co2\": co2,\n    \"temperature\": temp,\n    \"humidity\": humid,\n    \"lux\": lux,\n    \"logdate\": dateTime\n};\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 420,
    "wires": [
      [
        "06929db1a31d27ce"
      ]
    ]
  },
  {
    "id": "06929db1a31d27ce",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 400,
    "wires": []
  },
  {
    "id": "84bd3187168d9588",
    "type": "http request",
    "z": "71aaba71cce9c427",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 750,
    "y": 440,
    "wires": [
      [
        "8ec62db0f60c914f"
      ]
    ]
  },
  {
    "id": "8ec62db0f60c914f",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 440,
    "wires": []
  },
  {
    "id": "4f5e4f46a38b9d12",
    "type": "comment",
    "z": "71aaba71cce9c427",
    "name": "조도센서_2",
    "info": "장치 : BCON-TRM200\n수집 데이터 : 습도, CO2, 조도",
    "x": 90,
    "y": 520,
    "wires": []
  },
  {
    "id": "465f433ab75faba7",
    "type": "inject",
    "z": "71aaba71cce9c427",
    "name": "10분",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "600",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 90,
    "y": 560,
    "wires": [
      [
        "b6f1adf259e6b31d"
      ]
    ]
  },
  {
    "id": "b6f1adf259e6b31d",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "select query",
    "func": "msg.topic = 'SELECT * FROM dtu2 WHERE (date BETWEEN date_add(now(), interval -60 second) AND now()) ORDER BY date DESC LIMIT 1';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 250,
    "y": 560,
    "wires": [
      [
        "b127793aceb10ca9"
      ]
    ]
  },
  {
    "id": "b127793aceb10ca9",
    "type": "mysql",
    "z": "71aaba71cce9c427",
    "mydb": "5904de5649bf46eb",
    "name": "",
    "x": 420,
    "y": 560,
    "wires": [
      [
        "2fba3f6d9ac09619"
      ]
    ]
  },
  {
    "id": "a701896caa440a22",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 6",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 540,
    "wires": []
  },
  {
    "id": "693fd223add39748",
    "type": "http request",
    "z": "71aaba71cce9c427",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 750,
    "y": 580,
    "wires": [
      [
        "9642c9724e0f82fc"
      ]
    ]
  },
  {
    "id": "9642c9724e0f82fc",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 580,
    "wires": []
  },
  {
    "id": "b1cab0e96ee354eb",
    "type": "comment",
    "z": "71aaba71cce9c427",
    "name": "조도센서_3",
    "info": "장치 : BCON-TRM200\n수집 데이터 : 습도, CO2, 조도",
    "x": 90,
    "y": 660,
    "wires": []
  },
  {
    "id": "76ec67f6cfd9b6d5",
    "type": "inject",
    "z": "71aaba71cce9c427",
    "name": "10분",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "600",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 90,
    "y": 700,
    "wires": [
      [
        "f613a927408dcea6"
      ]
    ]
  },
  {
    "id": "f613a927408dcea6",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "select query",
    "func": "msg.topic = 'SELECT * FROM dtu3 WHERE (date BETWEEN date_add(now(), interval -60 second) AND now()) ORDER BY date DESC LIMIT 1';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 250,
    "y": 700,
    "wires": [
      [
        "5418079dcdddd7e6"
      ]
    ]
  },
  {
    "id": "5418079dcdddd7e6",
    "type": "mysql",
    "z": "71aaba71cce9c427",
    "mydb": "5904de5649bf46eb",
    "name": "",
    "x": 420,
    "y": 700,
    "wires": [
      [
        "38d233af5adf6c55"
      ]
    ]
  },
  {
    "id": "248ecca0293d8f48",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 8",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 680,
    "wires": []
  },
  {
    "id": "e96e0671c1f5f4aa",
    "type": "http request",
    "z": "71aaba71cce9c427",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 750,
    "y": 720,
    "wires": [
      [
        "eda8fa0dca6067f5"
      ]
    ]
  },
  {
    "id": "eda8fa0dca6067f5",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 9",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 720,
    "wires": []
  },
  {
    "id": "2fba3f6d9ac09619",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "send api",
    "func": "let temp = msg.payload[0].value3;   // 온도\ntemp = temp / 10;\nlet humid = msg.payload[0].value4;  // 습도\nhumid = humid / 10;\nlet co2 = msg.payload[0].value2;    // 이산화탄소\nlet lux = msg.payload[0].value5;    // 조도\n\n\nmsg.headers = {};\nmsg.headers['content-type'] = \"application/json\";\nmsg.headers['Accept'] = \"application/json\";\n\n\nmsg.payload = {\n    \"ccode\": \"0063\",\n    \"scode\": \"74\",\n    \"temp\": temp,\n    \"humid\": humid,\n    \"co2\": co2,\n    \"lux\": lux\n};\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 560,
    "wires": [
      [
        "a701896caa440a22"
      ]
    ]
  },
  {
    "id": "38d233af5adf6c55",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "send api",
    "func": "let temp = msg.payload[0].value3;   // 온도\ntemp = temp / 10;\nlet humid = msg.payload[0].value4;  // 습도\nhumid = humid / 10;\nlet co2 = msg.payload[0].value2;    // 이산화탄소\nlet lux = msg.payload[0].value5;    // 조도\n\n\nmsg.headers = {};\nmsg.headers['content-type'] = \"application/json\";\nmsg.headers['Accept'] = \"application/json\";\n\n\nmsg.payload = {\n    \"ccode\": \"0063\",\n    \"scode\": \"75\",\n    \"temp\": temp,\n    \"humid\": humid,\n    \"co2\": co2,\n    \"lux\": lux\n};\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 700,
    "wires": [
      [
        "248ecca0293d8f48"
      ]
    ]
  }
]