0064_node-red_flows.json
[
  {
    "id": "71aaba71cce9c427",
    "type": "tab",
    "label": "Data Send",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "09f410f606b6def9",
    "type": "tab",
    "label": "Database delete",
    "disabled": false,
    "info": "*저장된 기간이 7일이 지나면 삭제",
    "env": []
  },
  {
    "id": "adc276c44d0c018a",
    "type": "modbus-client",
    "name": "",
    "clienttype": "simpleser",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "127.0.0.1",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "COM7",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true,
    "showWarnings": true,
    "showLogs": true
  },
  {
    "id": "6b5903cef06c0040",
    "type": "MySQLdatabase",
    "name": "",
    "host": "127.0.0.1",
    "port": "3306",
    "db": "fz_shm",
    "tz": "",
    "charset": "UTF8"
  },
  {
    "id": "611e0a37e0085ea2",
    "type": "modbus-client",
    "name": "",
    "clienttype": "simpleser",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "127.0.0.1",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "COM7",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true,
    "showWarnings": true,
    "showLogs": true
  },
  {
    "id": "03bc750eb851639d",
    "type": "modbus-client",
    "name": "",
    "clienttype": "simpleser",
    "bufferCommands": true,
    "stateLogEnabled": false,
    "queueLogEnabled": false,
    "failureLogEnabled": true,
    "tcpHost": "127.0.0.1",
    "tcpPort": "502",
    "tcpType": "DEFAULT",
    "serialPort": "COM7",
    "serialType": "RTU-BUFFERD",
    "serialBaudrate": "9600",
    "serialDatabits": "8",
    "serialStopbits": "1",
    "serialParity": "none",
    "serialConnectionDelay": "100",
    "serialAsciiResponseStartDelimiter": "0x3A",
    "unit_id": "1",
    "commandDelay": "1",
    "clientTimeout": "1000",
    "reconnectOnTimeout": true,
    "reconnectTimeout": "2000",
    "parallelUnitIdsAllowed": true,
    "showWarnings": true,
    "showLogs": true
  },
  {
    "id": "a4e408c03b2c2e8f",
    "type": "inject",
    "z": "71aaba71cce9c427",
    "name": "Manual Inject",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 120,
    "y": 100,
    "wires": [
      [
        "561e697e95310621"
      ]
    ]
  },
  {
    "id": "561e697e95310621",
    "type": "modbus-getter",
    "z": "71aaba71cce9c427",
    "name": "1",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "logIOActivities": false,
    "unitid": "1",
    "dataType": "InputRegister",
    "adr": "100",
    "quantity": "1",
    "server": "adc276c44d0c018a",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 110,
    "y": 160,
    "wires": [
      [
        "55daa5d40673ad8b"
      ],
      []
    ]
  },
  {
    "id": "c4416050754c797f",
    "type": "comment",
    "z": "71aaba71cce9c427",
    "name": "XR10 (1~6)",
    "info": "",
    "x": 90,
    "y": 60,
    "wires": []
  },
  {
    "id": "3b33d78e8ce57481",
    "type": "modbus-getter",
    "z": "71aaba71cce9c427",
    "name": "2",
    "showStatusActivities": false,
    "showErrors": false,
    "showWarnings": true,
    "logIOActivities": false,
    "unitid": "2",
    "dataType": "InputRegister",
    "adr": "100",
    "quantity": "1",
    "server": "adc276c44d0c018a",
    "useIOFile": false,
    "ioFile": "",
    "useIOForPayload": false,
    "emptyMsgOnFail": false,
    "keepMsgProperties": false,
    "delayOnStart": false,
    "startDelayTime": "",
    "x": 110,
    "y": 200,
    "wires": [
      [
        "ad6c02ae8accaff0"
      ],
      []
    ]
  },
  {
    "id": "ad6c02ae8accaff0",
    "type": "delay",
    "z": "71aaba71cce9c427",
    "name": "0.2",
    "pauseType": "delay",
    "timeout": "0.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 230,
    "y": 200,
    "wires": [
      [
        "1e1b538f43576b10"
      ]
    ]
  },
  {
    "id": "55daa5d40673ad8b",
    "type": "delay",
    "z": "71aaba71cce9c427",
    "name": "0.2",
    "pauseType": "delay",
    "timeout": "0.2",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 230,
    "y": 160,
    "wires": [
      [
        "3b33d78e8ce57481",
        "1e1b538f43576b10"
      ]
    ]
  },
  {
    "id": "730b815e66188856",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug for TCs",
    "active": true,
    "tosidebar": false,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "statusVal": "payload",
    "statusType": "msg",
    "x": 900,
    "y": 220,
    "wires": []
  },
  {
    "id": "54c9f93776a09746",
    "type": "http request",
    "z": "71aaba71cce9c427",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0064/get_temperature",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 730,
    "y": 220,
    "wires": [
      [
        "730b815e66188856"
      ]
    ]
  },
  {
    "id": "bf96f88cdf4fcf67",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "send api",
    "func": "//현재 온도 (음수 표현은 buffer parser에서 수정 조치, INT 16BE 필요)\nvar curTemp = parseFloat(msg.payload) / 10;\n\n//장치 국번\nvar unitid = msg.unitId;\n\nmsg.headers = {};\nmsg.headers['content-type'] = \"application/json\";\nmsg.headers['Accept'] = \"application/json\";\n\nmsg.payload = {\n    \"ccode\": \"0064\",\n    \"kind\": \"4\",\n    \"deviceId\": unitid,\n    \"temperature\": curTemp,\n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 180,
    "wires": [
      [
        "54c9f93776a09746",
        "bc082abcc8fc210c"
      ]
    ]
  },
  {
    "id": "1e1b538f43576b10",
    "type": "buffer-parser",
    "z": "71aaba71cce9c427",
    "name": "",
    "data": "payload",
    "dataType": "msg",
    "specification": "spec",
    "specificationType": "ui",
    "items": [
      {
        "type": "int16be",
        "name": "item1",
        "offset": 0,
        "length": 1,
        "offsetbit": 0,
        "scale": "1",
        "mask": ""
      }
    ],
    "swap1": "",
    "swap2": "",
    "swap3": "",
    "swap1Type": "swap",
    "swap2Type": "swap",
    "swap3Type": "swap",
    "msgProperty": "payload",
    "msgPropertyType": "str",
    "resultType": "value",
    "resultTypeType": "return",
    "multipleResult": false,
    "fanOutMultipleResult": false,
    "setTopic": true,
    "outputs": 1,
    "x": 410,
    "y": 180,
    "wires": [
      [
        "bf96f88cdf4fcf67"
      ]
    ]
  },
  {
    "id": "bc082abcc8fc210c",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug for TCs",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "payload",
    "statusType": "auto",
    "x": 740,
    "y": 160,
    "wires": []
  },
  {
    "id": "e5c2d1fa02035552",
    "type": "comment",
    "z": "71aaba71cce9c427",
    "name": "세척기(라즈베리파이)",
    "info": "",
    "x": 120,
    "y": 760,
    "wires": []
  },
  {
    "id": "8da7a5653e264e6e",
    "type": "inject",
    "z": "71aaba71cce9c427",
    "name": "10초",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 90,
    "y": 800,
    "wires": [
      [
        "2b530d750e600d72"
      ]
    ]
  },
  {
    "id": "2b530d750e600d72",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "select query",
    "func": "msg.topic = \"SELECT * FROM fztable ORDER BY date DESC LIMIT 1\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 250,
    "y": 800,
    "wires": [
      [
        "7e95019a3b9f3d8d"
      ]
    ]
  },
  {
    "id": "7e95019a3b9f3d8d",
    "type": "mysql",
    "z": "71aaba71cce9c427",
    "mydb": "6b5903cef06c0040",
    "name": "",
    "x": 420,
    "y": 800,
    "wires": [
      [
        "faae3da2dd2b61fc"
      ]
    ]
  },
  {
    "id": "faae3da2dd2b61fc",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "send api",
    "func": "//현재 온도 (음수 표현은 buffer parser에서 수정 조치, INT 16BE 필요)\nvar current_value = msg.payload;\n\nvar temp1 = current_value[0].temp1;\nvar rpm = current_value[0].RPM;\nvar date = current_value[0].date;\n\n\nmsg.headers = {};\nmsg.headers['content-type'] = \"application/json\";\nmsg.headers['Accept'] = \"application/json\";\n\n\nmsg.payload = {\n    \"ccode\": \"0064\",\n    \"scode\": \"91\",\n    \"temp1\": temp1,\n    \"rpm\": rpm\n};\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 800,
    "wires": [
      [
        "49aade2dadf9ac80",
        "8a6ec755bb0aaa50"
      ]
    ]
  },
  {
    "id": "49aade2dadf9ac80",
    "type": "http request",
    "z": "71aaba71cce9c427",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0064/get_cleanser",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 750,
    "y": 820,
    "wires": [
      [
        "a74297d65ce82ebd"
      ]
    ]
  },
  {
    "id": "a74297d65ce82ebd",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 820,
    "wires": []
  },
  {
    "id": "8a6ec755bb0aaa50",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 780,
    "wires": []
  },
  {
    "id": "ebbf7b6900d0465c",
    "type": "comment",
    "z": "71aaba71cce9c427",
    "name": "조도센서_1",
    "info": "장치 : BCON-TRM200\n수집 데이터 : 온도, 습도, CO2, 조도",
    "x": 90,
    "y": 320,
    "wires": []
  },
  {
    "id": "5efa3a789c8a493c",
    "type": "inject",
    "z": "71aaba71cce9c427",
    "name": "9분",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "540",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 90,
    "y": 360,
    "wires": [
      [
        "bcabae7b2e30c513"
      ]
    ]
  },
  {
    "id": "bcabae7b2e30c513",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "select query",
    "func": "msg.topic = 'SELECT * FROM dtu1 WHERE (date BETWEEN date_add(now(), interval -60 second) AND now()) ORDER BY date DESC LIMIT 1';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 250,
    "y": 360,
    "wires": [
      [
        "b7e848e7ea051546"
      ]
    ]
  },
  {
    "id": "b7e848e7ea051546",
    "type": "mysql",
    "z": "71aaba71cce9c427",
    "mydb": "6b5903cef06c0040",
    "name": "",
    "x": 420,
    "y": 360,
    "wires": [
      [
        "352f024124dc3091"
      ]
    ]
  },
  {
    "id": "352f024124dc3091",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "send api",
    "func": "let temp = msg.payload[0].value3;   // 온도\nlet humid = msg.payload[0].value4;  // 습도\nlet co2 = msg.payload[0].value2;    // 이산화탄소\nlet lux = msg.payload[0].value5;    // 조도\n\n\nmsg.headers = {};\nmsg.headers['content-type'] = \"application/json\";\nmsg.headers['Accept'] = \"application/json\";\n\n\nmsg.payload = {\n    \"ccode\": \"0064\",\n    \"scode\": \"73\",\n    \"kind\": \"5\",\n    \"deviceId\": \"3\",\n    \"co2\": co2,\n    \"temperature\": temp,\n    \"humidity\": humid,\n    \"lux\": lux\n};\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 360,
    "wires": [
      [
        "8c466ae59bd64c7a",
        "f4e642657dd0babc"
      ]
    ]
  },
  {
    "id": "8c466ae59bd64c7a",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 340,
    "wires": []
  },
  {
    "id": "f4e642657dd0babc",
    "type": "http request",
    "z": "71aaba71cce9c427",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0064/get_visual",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 750,
    "y": 380,
    "wires": [
      [
        "5c05ee48d11bb486"
      ]
    ]
  },
  {
    "id": "80392d766952fb1e",
    "type": "comment",
    "z": "71aaba71cce9c427",
    "name": "조도센서_2",
    "info": "장치 : BCON-TRM200\n수집 데이터 : 온도, 습도, CO2, 조도",
    "x": 90,
    "y": 460,
    "wires": []
  },
  {
    "id": "0cac20c245e17099",
    "type": "inject",
    "z": "71aaba71cce9c427",
    "name": "9분",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "540",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 90,
    "y": 500,
    "wires": [
      [
        "2c48d3cd6d237d5f"
      ]
    ]
  },
  {
    "id": "2c48d3cd6d237d5f",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "select query",
    "func": "msg.topic = 'SELECT * FROM dtu2 WHERE (date BETWEEN date_add(now(), interval -60 second) AND now()) ORDER BY date DESC LIMIT 1';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 250,
    "y": 500,
    "wires": [
      [
        "e69b9e22d80f696b"
      ]
    ]
  },
  {
    "id": "e69b9e22d80f696b",
    "type": "mysql",
    "z": "71aaba71cce9c427",
    "mydb": "6b5903cef06c0040",
    "name": "",
    "x": 420,
    "y": 500,
    "wires": [
      [
        "dbc02993d0fccd85"
      ]
    ]
  },
  {
    "id": "4f5cd9bc39df7fd2",
    "type": "comment",
    "z": "71aaba71cce9c427",
    "name": "조도센서_3",
    "info": "장치 : BCON-TRM200\n수집 데이터 : 온도, 습도, CO2, 조도",
    "x": 90,
    "y": 600,
    "wires": []
  },
  {
    "id": "b47c3deb34d461d4",
    "type": "inject",
    "z": "71aaba71cce9c427",
    "name": "9분",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "540",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 90,
    "y": 640,
    "wires": [
      [
        "d026f62d4f84f934"
      ]
    ]
  },
  {
    "id": "d026f62d4f84f934",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "select query",
    "func": "msg.topic = 'SELECT * FROM dtu3 WHERE (date BETWEEN date_add(now(), interval -60 second) AND now()) ORDER BY date DESC LIMIT 1';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 250,
    "y": 640,
    "wires": [
      [
        "55854614ec8ea77f"
      ]
    ]
  },
  {
    "id": "55854614ec8ea77f",
    "type": "mysql",
    "z": "71aaba71cce9c427",
    "mydb": "6b5903cef06c0040",
    "name": "",
    "x": 420,
    "y": 640,
    "wires": [
      [
        "5405ccd2533f3ade"
      ]
    ]
  },
  {
    "id": "dbc02993d0fccd85",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "send api",
    "func": "let temp = msg.payload[0].value3;   // 온도\nlet humid = msg.payload[0].value4;  // 습도\nlet co2 = msg.payload[0].value2;    // 이산화탄소\nlet lux = msg.payload[0].value5;    // 조도\n\n\nmsg.headers = {};\nmsg.headers['content-type'] = \"application/json\";\nmsg.headers['Accept'] = \"application/json\";\n\n\nmsg.payload = {\n    \"ccode\": \"0064\",\n    \"scode\": \"74\",\n    \"kind\": \"5\",\n    \"deviceId\": \"4\",\n    \"co2\": co2,\n    \"temperature\": temp,\n    \"humidity\": humid,\n    \"lux\": lux\n};\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 500,
    "wires": [
      [
        "0f9e9804a9acddd4",
        "7c868d6d013f1961"
      ]
    ]
  },
  {
    "id": "0f9e9804a9acddd4",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 6",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 480,
    "wires": []
  },
  {
    "id": "7c868d6d013f1961",
    "type": "http request",
    "z": "71aaba71cce9c427",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0064/get_visual",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 750,
    "y": 520,
    "wires": [
      [
        "c5ee18c9a7622d20"
      ]
    ]
  },
  {
    "id": "5405ccd2533f3ade",
    "type": "function",
    "z": "71aaba71cce9c427",
    "name": "send api",
    "func": "let temp = msg.payload[0].value3;   // 온도\nlet humid = msg.payload[0].value4;  // 습도\nlet co2 = msg.payload[0].value2;    // 이산화탄소\nlet lux = msg.payload[0].value5;    // 조도\n\n\nmsg.headers = {};\nmsg.headers['content-type'] = \"application/json\";\nmsg.headers['Accept'] = \"application/json\";\n\n\nmsg.payload = {\n    \"ccode\": \"0064\",\n    \"scode\": \"75\",\n    \"kind\": \"5\",\n    \"deviceId\": \"5\",\n    \"co2\": co2,\n    \"temperature\": temp,\n    \"humidity\": humid,\n    \"lux\": lux\n};\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 580,
    "y": 640,
    "wires": [
      [
        "c5e072e84b7cddbb",
        "33b18a3dae59721f"
      ]
    ]
  },
  {
    "id": "c5e072e84b7cddbb",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 8",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 620,
    "wires": []
  },
  {
    "id": "33b18a3dae59721f",
    "type": "http request",
    "z": "71aaba71cce9c427",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://pc.smarthaccpman.com/smh-api/c0064/get_visual",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 750,
    "y": 660,
    "wires": [
      [
        "62be689dc477249b"
      ]
    ]
  },
  {
    "id": "5c05ee48d11bb486",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 380,
    "wires": []
  },
  {
    "id": "c5ee18c9a7622d20",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 520,
    "wires": []
  },
  {
    "id": "62be689dc477249b",
    "type": "debug",
    "z": "71aaba71cce9c427",
    "name": "debug 9",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 900,
    "y": 660,
    "wires": []
  },
  {
    "id": "55ca49778522607e",
    "type": "comment",
    "z": "09f410f606b6def9",
    "name": "dtu1 테이블 - 데이터 보관 기간 7일",
    "info": "",
    "x": 180,
    "y": 60,
    "wires": []
  },
  {
    "id": "c8b173e25c134b49",
    "type": "inject",
    "z": "09f410f606b6def9",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "01 00 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 100,
    "wires": [
      [
        "e0b740e4505b7d18"
      ]
    ]
  },
  {
    "id": "e0b740e4505b7d18",
    "type": "function",
    "z": "09f410f606b6def9",
    "name": "delete",
    "func": "msg.topic = \"DELETE FROM dtu1 WHERE date < CURDATE() - INTERVAL 7 DAY\";\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 290,
    "y": 100,
    "wires": [
      [
        "be3c6eceae37cc60"
      ]
    ]
  },
  {
    "id": "be3c6eceae37cc60",
    "type": "mysql",
    "z": "09f410f606b6def9",
    "mydb": "6b5903cef06c0040",
    "name": "",
    "x": 440,
    "y": 100,
    "wires": [
      [
        "71d0da484b17e500"
      ]
    ]
  },
  {
    "id": "71d0da484b17e500",
    "type": "debug",
    "z": "09f410f606b6def9",
    "name": "debug 10",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 100,
    "wires": []
  },
  {
    "id": "bf9539269325275b",
    "type": "comment",
    "z": "09f410f606b6def9",
    "name": "dtu2 테이블 - 데이터 보관 기간 7일",
    "info": "",
    "x": 180,
    "y": 180,
    "wires": []
  },
  {
    "id": "bb5f5bf9a6c34c24",
    "type": "inject",
    "z": "09f410f606b6def9",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "01 00 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 220,
    "wires": [
      [
        "5df37f8dfa819cae"
      ]
    ]
  },
  {
    "id": "5df37f8dfa819cae",
    "type": "function",
    "z": "09f410f606b6def9",
    "name": "delete",
    "func": "msg.topic = \"DELETE FROM dtu2 WHERE date < CURDATE() - INTERVAL 7 DAY\";\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 290,
    "y": 220,
    "wires": [
      [
        "bda031f0e2abbf40"
      ]
    ]
  },
  {
    "id": "bda031f0e2abbf40",
    "type": "mysql",
    "z": "09f410f606b6def9",
    "mydb": "6b5903cef06c0040",
    "name": "",
    "x": 440,
    "y": 220,
    "wires": [
      [
        "397786e37f0b71e1"
      ]
    ]
  },
  {
    "id": "397786e37f0b71e1",
    "type": "debug",
    "z": "09f410f606b6def9",
    "name": "debug 11",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 220,
    "wires": []
  },
  {
    "id": "e7ac9350e0a10989",
    "type": "comment",
    "z": "09f410f606b6def9",
    "name": "dtu3 테이블 - 데이터 보관 기간 7일",
    "info": "",
    "x": 180,
    "y": 300,
    "wires": []
  },
  {
    "id": "9d1b710bec4a6ef0",
    "type": "inject",
    "z": "09f410f606b6def9",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "01 00 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 340,
    "wires": [
      [
        "43fd5a119e2c1d62"
      ]
    ]
  },
  {
    "id": "43fd5a119e2c1d62",
    "type": "function",
    "z": "09f410f606b6def9",
    "name": "delete",
    "func": "msg.topic = \"DELETE FROM dtu3 WHERE date < CURDATE() - INTERVAL 7 DAY\";\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 290,
    "y": 340,
    "wires": [
      [
        "2b5bac3059409bb7"
      ]
    ]
  },
  {
    "id": "2b5bac3059409bb7",
    "type": "mysql",
    "z": "09f410f606b6def9",
    "mydb": "6b5903cef06c0040",
    "name": "",
    "x": 440,
    "y": 340,
    "wires": [
      [
        "ea937ff1e5da221f"
      ]
    ]
  },
  {
    "id": "ea937ff1e5da221f",
    "type": "debug",
    "z": "09f410f606b6def9",
    "name": "debug 12",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 340,
    "wires": []
  },
  {
    "id": "8b15e33be654a272",
    "type": "comment",
    "z": "09f410f606b6def9",
    "name": "fztable 테이블 - 데이터 보관 기간 7일",
    "info": "",
    "x": 190,
    "y": 420,
    "wires": []
  },
  {
    "id": "23492a663cac8269",
    "type": "inject",
    "z": "09f410f606b6def9",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "01 00 * * *",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 460,
    "wires": [
      [
        "48d752f096177d72"
      ]
    ]
  },
  {
    "id": "48d752f096177d72",
    "type": "function",
    "z": "09f410f606b6def9",
    "name": "delete",
    "func": "msg.topic = \"DELETE FROM fztable WHERE date < CURDATE() - INTERVAL 7 DAY\";\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 290,
    "y": 460,
    "wires": [
      [
        "0dd66bdb8d0d1d7e"
      ]
    ]
  },
  {
    "id": "0dd66bdb8d0d1d7e",
    "type": "mysql",
    "z": "09f410f606b6def9",
    "mydb": "6b5903cef06c0040",
    "name": "",
    "x": 440,
    "y": 460,
    "wires": [
      [
        "6df9f70765089c18"
      ]
    ]
  },
  {
    "id": "6df9f70765089c18",
    "type": "debug",
    "z": "09f410f606b6def9",
    "name": "debug 13",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 460,
    "wires": []
  }
]