1234_node-red_flows.json
[
  {
    "id": "86d6929849e32c37",
    "type": "tab",
    "label": "플로우 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "86332d124b0bd237",
    "type": "inject",
    "z": "86d6929849e32c37",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 280,
    "y": 140,
    "wires": [
      [
        "e0b4b58b4482041b"
      ]
    ]
  },
  {
    "id": "e0b4b58b4482041b",
    "type": "debug",
    "z": "86d6929849e32c37",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 420,
    "y": 160,
    "wires": []
  },
  {
    "id": "9c2d02c803127469",
    "type": "inject",
    "z": "86d6929849e32c37",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 220,
    "y": 320,
    "wires": [
      [
        "fdd055410c2cdf0e"
      ]
    ]
  },
  {
    "id": "fdd055410c2cdf0e",
    "type": "debug",
    "z": "86d6929849e32c37",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 320,
    "wires": []
  },
  {
    "id": "628885a5af9766a0",
    "type": "inject",
    "z": "86d6929849e32c37",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 320,
    "y": 460,
    "wires": [
      [
        "56b3e12166ec3f9b"
      ]
    ]
  },
  {
    "id": "56b3e12166ec3f9b",
    "type": "debug",
    "z": "86d6929849e32c37",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 580,
    "y": 460,
    "wires": []
  },
  {
    "id": "f8606e6b83039284",
    "type": "inject",
    "z": "86d6929849e32c37",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 600,
    "y": 500,
    "wires": [
      [
        "59d48cc305105071"
      ]
    ]
  },
  {
    "id": "59d48cc305105071",
    "type": "debug",
    "z": "86d6929849e32c37",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 860,
    "y": 500,
    "wires": []
  },
  {
    "id": "1d25729613ad0b5b",
    "type": "inject",
    "z": "86d6929849e32c37",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 500,
    "y": 280,
    "wires": [
      [
        "605611df3851d289"
      ]
    ]
  },
  {
    "id": "605611df3851d289",
    "type": "debug",
    "z": "86d6929849e32c37",
    "name": "debug 5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 280,
    "wires": []
  },
  {
    "id": "09cc1f8e1ab7b2f9",
    "type": "inject",
    "z": "86d6929849e32c37",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 340,
    "y": 220,
    "wires": [
      [
        "36a9a1170ebcccc3"
      ]
    ]
  },
  {
    "id": "36a9a1170ebcccc3",
    "type": "debug",
    "z": "86d6929849e32c37",
    "name": "debug 6",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 600,
    "y": 220,
    "wires": []
  },
  {
    "id": "00e67517c402d230",
    "type": "inject",
    "z": "86d6929849e32c37",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 440,
    "y": 100,
    "wires": [
      [
        "8b27663a28246232"
      ]
    ]
  },
  {
    "id": "8b27663a28246232",
    "type": "debug",
    "z": "86d6929849e32c37",
    "name": "debug 7",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1080,
    "y": 160,
    "wires": []
  }
]